openapi: 3.2.0
info:
  title: 51offer Horizon Site Ng Adviser API
  version: '1.0'
  summary: 51offer official-site (www.51offer.com) JSON API surface
  description: Machine-readable description of the public JSON API surface of 51offer's official study-abroad site (www.51offer.com).
  contact:
    name: 51offer
    email: woodrow.w@51offer.com
    url: https://www.51offer.com/
  x-provenance:
    converted-from: Swagger 1.2
    source: https://www.51offer.com/api-docs
    fetched: '2026-09-05'
servers:
- url: https://www.51offer.com
  description: '51offer official site API host. Verified live 2026-09-05: GET /ngGpaCalc/constants returned HTTP 200 application/json.'
- url: https://m.51offer.com
  description: 51offer mobile-site host. Serves the same Swagger 1.2 documents at /api-docs (HTTP 200, application/json, 2026-09-05).
tags:
- name: ngAdviser
  description: 顾问控制层
paths:
  /ngAdviser/checkUserMobile:
    get:
      operationId: checkUserMobile
      tags:
      - ngAdviser
      summary: 核查用户手机号是否已经被注册过
      parameters:
      - name: region
        in: query
        required: true
        schema:
          type: string
      - name: mobile
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/exportExcelData:
    get:
      operationId: exportExcelData
      tags:
      - ngAdviser
      summary: 导出excel
      parameters:
      - name: startTime
        in: query
        required: false
        schema:
          type: string
      - name: endTime
        in: query
        required: false
        schema:
          type: string
      - name: src
        in: query
        required: false
        schema:
          type: string
      - name: telephone
        in: query
        required: false
        schema:
          type: string
      - name: source
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/getAuthority:
    get:
      operationId: ngAdviser_getAuthority_2
      tags:
      - ngAdviser
      summary: 根据用户权限
      description: 根据条件查询用户信息
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_string_f13f7f'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/getCountryList:
    get:
      operationId: getCountryList
      tags:
      - ngAdviser
      summary: 获取可申请国家列表
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Country_4307e8'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/getDictInfo:
    get:
      operationId: getDictInfoBypcode
      tags:
      - ngAdviser
      summary: getDictInfoBypcode
      parameters:
      - name: pcode
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Dict_628083'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    head:
      operationId: ngAdviser_getDictInfoBypcode_2
      tags:
      - ngAdviser
      summary: getDictInfoBypcode
      parameters:
      - name: pcode
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Dict_628083'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    post:
      operationId: ngAdviser_getDictInfoBypcode_3
      tags:
      - ngAdviser
      summary: getDictInfoBypcode
      parameters:
      - name: pcode
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Dict_628083'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    put:
      operationId: ngAdviser_getDictInfoBypcode_4
      tags:
      - ngAdviser
      summary: getDictInfoBypcode
      parameters:
      - name: pcode
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Dict_628083'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    patch:
      operationId: ngAdviser_getDictInfoBypcode_5
      tags:
      - ngAdviser
      summary: getDictInfoBypcode
      parameters:
      - name: pcode
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Dict_628083'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    delete:
      operationId: ngAdviser_getDictInfoBypcode_6
      tags:
      - ngAdviser
      summary: getDictInfoBypcode
      parameters:
      - name: pcode
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Dict_628083'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    options:
      operationId: ngAdviser_getDictInfoBypcode_7
      tags:
      - ngAdviser
      summary: getDictInfoBypcode
      parameters:
      - name: pcode
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Dict_628083'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    trace:
      operationId: ngAdviser_getDictInfoBypcode_8
      tags:
      - ngAdviser
      summary: getDictInfoBypcode
      parameters:
      - name: pcode
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Dict_628083'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/getSrcByStoreId:
    get:
      operationId: getSrcByStoreId
      tags:
      - ngAdviser
      summary: getSrcByStoreId
      parameters:
      - name: storeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_AllianceStore_f306f7'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    head:
      operationId: ngAdviser_getSrcByStoreId_2
      tags:
      - ngAdviser
      summary: getSrcByStoreId
      parameters:
      - name: storeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_AllianceStore_f306f7'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    post:
      operationId: ngAdviser_getSrcByStoreId_3
      tags:
      - ngAdviser
      summary: getSrcByStoreId
      parameters:
      - name: storeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_AllianceStore_f306f7'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    put:
      operationId: ngAdviser_getSrcByStoreId_4
      tags:
      - ngAdviser
      summary: getSrcByStoreId
      parameters:
      - name: storeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_AllianceStore_f306f7'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    patch:
      operationId: ngAdviser_getSrcByStoreId_5
      tags:
      - ngAdviser
      summary: getSrcByStoreId
      parameters:
      - name: storeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_AllianceStore_f306f7'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    delete:
      operationId: ngAdviser_getSrcByStoreId_6
      tags:
      - ngAdviser
      summary: getSrcByStoreId
      parameters:
      - name: storeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_AllianceStore_f306f7'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    options:
      operationId: ngAdviser_getSrcByStoreId_7
      tags:
      - ngAdviser
      summary: getSrcByStoreId
      parameters:
      - name: storeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_AllianceStore_f306f7'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    trace:
      operationId: ngAdviser_getSrcByStoreId_8
      tags:
      - ngAdviser
      summary: getSrcByStoreId
      parameters:
      - name: storeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_AllianceStore_f306f7'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/getSysUsersList:
    get:
      operationId: getSysUsersList
      tags:
      - ngAdviser
      summary: 获取顾问信息
      parameters:
      - name: username
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_SysUsers_0356ba'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/getUsersList:
    get:
      operationId: getUsersList
      tags:
      - ngAdviser
      summary: 获取用户信息
      parameters:
      - name: uid
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: mobile
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Users_81a132'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/getUsersPartnerInfoList:
    get:
      operationId: getUsersPartnerInfoList
      tags:
      - ngAdviser
      summary: 根据条件查询用户信息
      parameters:
      - name: orgId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: startTime
        in: query
        required: false
        schema:
          type: string
      - name: endTime
        in: query
        required: false
        schema:
          type: string
      - name: src
        in: query
        required: false
        schema:
          type: string
      - name: telephone
        in: query
        required: false
        schema:
          type: string
      - name: source
        in: query
        required: false
        schema:
          type: string
      - name: uid
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: srcs
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/List'
      - name: pageNo
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: beginRow
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: endRow
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_UsersPartnerInfo_c9de4a'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/queryChannelList:
    get:
      operationId: queryChannelList
      tags:
      - ngAdviser
      summary: queryChannelList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_ChannelInfo_c68762'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    head:
      operationId: ngAdviser_queryChannelList_2
      tags:
      - ngAdviser
      summary: queryChannelList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_ChannelInfo_c68762'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    post:
      operationId: ngAdviser_queryChannelList_3
      tags:
      - ngAdviser
      summary: queryChannelList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_ChannelInfo_c68762'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    put:
      operationId: ngAdviser_queryChannelList_4
      tags:
      - ngAdviser
      summary: queryChannelList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_ChannelInfo_c68762'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    patch:
      operationId: ngAdviser_queryChannelList_5
      tags:
      - ngAdviser
      summary: queryChannelList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_ChannelInfo_c68762'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    delete:
      operationId: ngAdviser_queryChannelList_6
      tags:
      - ngAdviser
      summary: queryChannelList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_ChannelInfo_c68762'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    options:
      operationId: ngAdviser_queryChannelList_7
      tags:
      - ngAdviser
      summary: queryChannelList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_ChannelInfo_c68762'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    trace:
      operationId: ngAdviser_queryChannelList_8
      tags:
      - ngAdviser
      summary: queryChannelList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_ChannelInfo_c68762'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/queryOrgSrc:
    get:
      operationId: queryOrgSrc
      tags:
      - ngAdviser
      summary: queryOrgSrc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    head:
      operationId: ngAdviser_queryOrgSrc_2
      tags:
      - ngAdviser
      summary: queryOrgSrc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    post:
      operationId: ngAdviser_queryOrgSrc_3
      tags:
      - ngAdviser
      summary: queryOrgSrc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    put:
      operationId: ngAdviser_queryOrgSrc_4
      tags:
      - ngAdviser
      summary: queryOrgSrc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    patch:
      operationId: ngAdviser_queryOrgSrc_5
      tags:
      - ngAdviser
      summary: queryOrgSrc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    delete:
      operationId: ngAdviser_queryOrgSrc_6
      tags:
      - ngAdviser
      summary: queryOrgSrc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    options:
      operationId: ngAdviser_queryOrgSrc_7
      tags:
      - ngAdviser
      summary: queryOrgSrc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    trace:
      operationId: ngAdviser_queryOrgSrc_8
      tags:
      - ngAdviser
      summary: queryOrgSrc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/queryPartnersInfo:
    get:
      operationId: queryPartnersInfo
      tags:
      - ngAdviser
      summary: 获取合作方信息
      parameters:
      - name: username
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_SysPartners_77c335'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/querySignWechatList:
    get:
      operationId: querySignWechaList
      tags:
      - ngAdviser
      summary: querySignWechaList
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignWechatCodeVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_SignWechatCode_fccc47'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    head:
      operationId: ngAdviser_querySignWechaList_2
      tags:
      - ngAdviser
      summary: querySignWechaList
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignWechatCodeVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_SignWechatCode_fccc47'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    post:
      operationId: ngAdviser_querySignWechaList_3
      tags:
      - ngAdviser
      summary: querySignWechaList
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignWechatCodeVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_SignWechatCode_fccc47'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    put:
      operationId: ngAdviser_querySignWechaList_4
      tags:
      - ngAdviser
      summary: querySignWechaList
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignWechatCodeVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_SignWechatCode_fccc47'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    patch:
      operationId: ngAdviser_querySignWechaList_5
      tags:
      - ngAdviser
      summary: querySignWechaList
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignWechatCodeVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_SignWechatCode_fccc47'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    delete:
      operationId: ngAdviser_querySignWechaList_6
      tags:
      - ngAdviser
      summary: querySignWechaList
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignWechatCodeVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_SignWechatCode_fccc47'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    options:
      operationId: ngAdviser_querySignWechaList_7
      tags:
      - ngAdviser
      summary: querySignWechaList
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignWechatCodeVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_SignWechatCode_fccc47'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    trace:
      operationId: ngAdviser_querySignWechaList_8
      tags:
      - ngAdviser
      summary: querySignWechaList
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignWechatCodeVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_SignWechatCode_fccc47'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/queryUserInfo:
    get:
      operationId: queryUserInfo
      tags:
      - ngAdviser
      summary: queryUserInfo
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSignSearchVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_UsersSignVO_0f9221'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    head:
      operationId: ngAdviser_queryUserInfo_2
      tags:
      - ngAdviser
      summary: queryUserInfo
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSignSearchVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_UsersSignVO_0f9221'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    post:
      operationId: ngAdviser_queryUserInfo_3
      tags:
      - ngAdviser
      summary: queryUserInfo
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSignSearchVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_UsersSignVO_0f9221'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    put:
      operationId: ngAdviser_queryUserInfo_4
      tags:
      - ngAdviser
      summary: queryUserInfo
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSignSearchVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_UsersSignVO_0f9221'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    patch:
      operationId: ngAdviser_queryUserInfo_5
      tags:
      - ngAdviser
      summary: queryUserInfo
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSignSearchVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_UsersSignVO_0f9221'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    delete:
      operationId: ngAdviser_queryUserInfo_6
      tags:
      - ngAdviser
      summary: queryUserInfo
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSignSearchVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_UsersSignVO_0f9221'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    options:
      operationId: ngAdviser_queryUserInfo_7
      tags:
      - ngAdviser
      summary: queryUserInfo
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSignSearchVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_UsersSignVO_0f9221'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    trace:
      operationId: ngAdviser_queryUserInfo_8
      tags:
      - ngAdviser
      summary: queryUserInfo
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSignSearchVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_UsersSignVO_0f9221'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/savePartnersInfo:
    post:
      operationId: savePartnersInfo
      tags:
      - ngAdviser
      summary: 保存合作方信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SysPartners'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/saveUpdateSignWechatInfo:
    post:
      operationId: saveUpdateSignWechatInfo
      tags:
      - ngAdviser
      summary: saveUpdateSignWechatInfo
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignWechatCode'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_SignWechatCode_40ac55'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/sysUserLogin:
    get:
      operationId: sysUserLogin
      tags:
      - ngAdviser
      summary: 顾问登陆
      parameters:
      - name: username
        in: query
        required: false
        schema:
          type: string
      - name: password
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/upload:
    get:
      operationId: upload
      tags:
      - ngAdviser
      summary: upload
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_string_3275da'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    head:
      operationId: ngAdviser_upload_2
      tags:
      - ngAdviser
      summary: upload
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_string_3275da'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    post:
      operationId: ngAdviser_upload_3
      tags:
      - ngAdviser
      summary: upload
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_string_3275da'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    put:
      operationId: ngAdviser_upload_4
      tags:
      - ngAdviser
      summary: upload
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_string_3275da'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    patch:
      operationId: ngAdviser_upload_5
      tags:
      - ngAdviser
      summary: upload
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_string_3275da'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    delete:
      operationId: ngAdviser_upload_6
      tags:
      - ngAdviser
      summary: upload
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_string_3275da'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    options:
      operationId: ngAdviser_upload_7
      tags:
      - ngAdviser
      summary: upload
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_string_3275da'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    trace:
      operationId: ngAdviser_upload_8
      tags:
      - ngAdviser
      summary: upload
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_string_3275da'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/userRegister:
    get:
      operationId: Userregister
      tags:
      - ngAdviser
      summary: 顾问帮用户注册
      parameters:
      - name: studentId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: mobile
        in: query
        required: true
        schema:
          type: string
      - name: region
        in: query
        required: true
        schema:
          type: string
      - name: src
        in: query
        required: true
        schema:
          type: string
      - name: isEbola
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: countryId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: sysUid
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: ebolaMobile
        in: query
        required: false
        schema:
          type: string
      - name: pid
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: isSendRegMess
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_string_3275da'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
components:
  schemas:
    HttpResult_List_UsersSignVO_0f9221:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/UsersSignVO'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«List«UsersSignVO»»
    UsersPartnerInfo:
      type: object
      properties:
        uid:
          type: integer
          format: int32
        realNameFirst:
          type: string
        realNameLast:
          type: string
        src:
          type: string
        telephone:
          type: string
        createTime:
          type: string
          format: date-time
        attendGrade:
          type: integer
          format: int32
        applyCountryId:
          type: integer
          format: int32
        realName:
          type: string
        attendGradeInfo:
          type: string
        applyCountryInfo:
          type: string
        regSource:
          type: integer
          format: int32
        activityName:
          type: string
        source:
          type: string
        unfitCountry:
          type: integer
          format: int32
        unfitCountryInfo:
          type: string
      x-swagger-1-2-name: UsersPartnerInfo
    AllianceStore:
      type: object
      properties:
        id:
          type: integer
          format: int32
        storeId:
          type: integer
          format: int32
        src:
          type: integer
          format: int32
        signSrc:
          type: integer
          format: int32
        partnerSrc:
          type: integer
          format: int32
        code:
          type: string
        logoUrl:
          type: string
        created:
          type: string
          format: date-time
        updated:
          type: string
          format: date-time
        title:
          type: string
        type:
          type: integer
          format: int32
        provinceId:
          type: integer
          format: int32
        cityId:
          type: integer
          format: int32
        coutyId:
          type: integer
          format: int32
        openTime:
          type: string
          format: date-time
        closeTime:
          type: string
          format: date-time
        storeStatue:
          type: integer
          format: int32
        regAcceptor:
          type: string
      x-swagger-1-2-name: AllianceStore
    HttpResult_List_SysUsers_0356ba:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/SysUsers'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«List«SysUsers»»
    SysPartners:
      type: object
      properties:
        id:
          type: integer
          format: int32
        username:
          type: string
        mobile:
          type: string
        password:
          type: string
        sex:
          type: integer
          format: int32
        salt:
          type: string
        nikename:
          type: string
        realname:
          type: string
        status:
          type: integer
          format: int32
        recommend:
          type: string
        area:
          type: string
        created:
          type: string
          format: date-time
        creator:
          type: integer
          format: int32
      x-swagger-1-2-name: SysPartners
    ChannelInfo:
      type: object
      properties:
        channelName:
          type: string
        channelId:
          type: string
        opratorName:
          type: string
        channelUrl:
          type: string
        createTime:
          type: string
          format: date-time
        updateTime:
          type: string
          format: date-time
        status:
          type: integer
          format: int32
        channelNameShort:
          type: string
        categoryId:
          type: integer
          format: int32
        categoryCode:
          type: string
        channelCategory:
          type: string
        groupId:
          type: integer
          format: int32
        groupCode:
          type: string
        groupName:
          type: string
        isCost:
          type: integer
          format: int32
      x-swagger-1-2-name: ChannelInfo
    HttpResult_List_UsersPartnerInfo_c9de4a:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/UsersPartnerInfo'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«List«UsersPartnerInfo»»
    HttpResult_List_string_f13f7f:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            type: string
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«List«string»»
    HttpResult_List_Country_4307e8:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«List«Country»»
    HttpResult_boolean_f50dfc:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: boolean
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«boolean»
    HttpResult_List_SignWechatCode_fccc47:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/SignWechatCode'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«List«SignWechatCode»»
    SignWechatCodeVO:
      type: object
      description: Model referenced by the 51offer Swagger 1.2 documents at https://www.51offer.com/api-docs but never defined in them; no properties are asserted here because the provider does not publish any.
      x-undefined-in-source: true
    SignWechatCode:
      type: object
      properties:
        activeName:
          type: string
        codeUrl:
          type: string
        src:
          type: integer
          format: int32
        created:
          type: string
          format: date-time
        paUrl:
          type: string
        storeName:
          type: string
        id:
          type: integer
          format: int32
        storeId:
          type: integer
          format: int32
        bgUrl:
          type: string
      x-swagger-1-2-name: SignWechatCode
    UsersSignSearchVO:
      type: object
      description: Model referenced by the 51offer Swagger 1.2 documents at https://www.51offer.com/api-docs but never defined in them; no properties are asserted here because the provider does not publish any.
      x-undefined-in-source: true
    Country:
      type: object
      properties:
        id:
          type: integer
          format: int32
        upperName:
          type: string
        cname:
          type: string
        ename:
          type: string
        logo:
          type: string
        iso:
          type: string
        iso3:
          type: string
        numCode:
          type: integer
          format: int32
        phoneCode:
          type: integer
          format: int32
      x-swagger-1-2-name: Country
    Page:
      type: object
      properties:
        currPage:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        count:
          type: integer
          format: int32
        totalPage:
          type: integer
          format: int32
        hasPre:
          type: boolean
        hasNext:
          type: boolean
        pageStr:
          type: string
        startRow:
          type: integer
          format: int32
        endRow:
          type: integer
          format: int32
      x-swagger-1-2-name: Page
    ApiInfo:
      type: object
      properties:
        operationTime:
          type: string
        version:
          type: string
        hostName:
          type: string
      x-swagger-1-2-name: ApiInfo
    HttpResult_List_Dict_628083:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/Dict'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«List«Dict»»
    SysUsers:
      type: object
      properties:
        uid:
          type: integer
          format: int32
        username:
          type: string
        password:
          type: string
        nikename:
          type: string
        realname:
          type: string
        birthday:
          type: string
          format: date-time
        mobile:
          type: string
        qq:
          type: string
        weixin:
          type: string
        status:
          type: string
          format: byte
        fax:
          type: string
        email:
          type: string
        ename:
          type: string
        face:
          type: string
        onlineStatus:
          type: integer
          format: int32
        creator:
          type: integer
          format: int32
        created:
          type: string
          format: date-time
        modifier:
          type: integer
          format: int32
        modified:
          type: string
          format: date-time
        deleter:
          type: integer
          format: int32
        deleted:
          type: string
          format: date-time
        salt:
          type: string
        tag:
          type: string
        recommend:
          type: string
        video:
          type: string
        bespeakNum:
          type: integer
          format: int32
        qualificationCertificate:
          type: string
        baiduBakeUrl:
          type: string
        constellatory:
          type: string
        workStatus:
          type: integer
          format: int32
      x-swagger-1-2-name: SysUsers
    HttpResult_AllianceStore_f306f7:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          $ref: '#/components/schemas/AllianceStore'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«AllianceStore»
    UsersSignVO:
      type: object
      properties:
        face:
          type: string
        userName:
          type: string
        realnameFirst:
          type: string
        mobile:
          type: string
        adviserName:
          type: string
        created:
          type: string
          format: date-time
        id:
          type: integer
          format: int32
        storeId:
          type: integer
          format: int32
        uid:
          type: integer
          format: int32
      x-swagger-1-2-name: UsersSignVO
    Dict:
      type: object
      properties:
        id:
          type: integer
          format: int64
        code:
          type: string
        name:
          type: string
        pcode:
          type: string
        dataValue:
          type: string
        createUser:
          type: string
        createTime:
          type: string
          format: date-time
        lastModifiedUser:
          type: string
        lastModifiedTime:
          type: string
          format: date-time
        remark:
          type: string
        sort:
          type: integer
          format: int32
      x-swagger-1-2-name: Dict
    Users:
      type: object
      properties:
        uid:
          type: integer
          format: int32
        username:
          type: string
        nickname:
          type: string
        password:
          type: string
        salt:
          type: string
        region:
          type: string
        mobile:
          type: string
        email:
          type: string
        userStatus:
          type: integer
          format: int32
        mobileStatus:
          type: integer
          format: int32
        emailStatus:
          type: integer
          format: int32
        userAvatar:
          type: string
        createDate:
          type: string
          format: date-time
        modifyDate:
          type: string
          format: date-time
        token:
          type: string
      x-swagger-1-2-name: Users
    HttpResult_string_3275da:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: string
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«string»
    HttpResult_List_Users_81a132:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/Users'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«List«Users»»
    HttpResult_SignWechatCode_40ac55:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          $ref: '#/components/schemas/SignWechatCode'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«SignWechatCode»
    HttpResult_Map_string_object_5812ac:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: object
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«Map«string,object»»
    HttpResult_List_SysPartners_77c335:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/SysPartners'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«List«SysPartners»»
    HttpResult_List_ChannelInfo_c68762:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/ChannelInfo'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«List«ChannelInfo»»
    List:
      type: array
      items: {}
      description: Untyped Java List as emitted by the source Swagger 1.2 documents.
      x-swagger-1-2-name: List
  securitySchemes:
    tokenHeader:
      type: apiKey
      in: header
      name: token
      description: 'Session token header. Observed on live responses from https://www.51offer.com: Access-Control-Allow-Headers includes "token" and Access-Control-Expose-Headers is "token". Unauthenticated calls to public endpoints (e.g. GET /ngGpaCalc/constants) return 200; authenticated user endpoints return the envelope with a non-200 code field. 51offer publishes no developer auth documentation.'
