openapi: 3.2.0
info:
  title: 51offer Horizon Site Ng Sign API
  version: '1.0'
  summary: 51offer official-site (www.51offer.com) JSON API surface
  description: Machine-readable description of the public JSON API surface of 51offer's official study-abroad site (www.51offer.com).
  contact:
    name: 51offer
    email: woodrow.w@51offer.com
    url: https://www.51offer.com/
  x-provenance:
    converted-from: Swagger 1.2
    source: https://www.51offer.com/api-docs
    fetched: '2026-09-05'
servers:
- url: https://www.51offer.com
  description: '51offer official site API host. Verified live 2026-09-05: GET /ngGpaCalc/constants returned HTTP 200 application/json.'
- url: https://m.51offer.com
  description: 51offer mobile-site host. Serves the same Swagger 1.2 documents at /api-docs (HTTP 200, application/json, 2026-09-05).
tags:
- name: ngSign
  description: Sign Controller
paths:
  /ngSign/querySignPageInfo:
    get:
      operationId: querySignPageInfo
      tags:
      - ngSign
      summary: querySignPageInfo
      parameters:
      - name: codeId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_string_5634e8'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/sign-controller
    head:
      operationId: ngSign_querySignPageInfo_2
      tags:
      - ngSign
      summary: querySignPageInfo
      parameters:
      - name: codeId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_string_5634e8'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/sign-controller
    post:
      operationId: ngSign_querySignPageInfo_3
      tags:
      - ngSign
      summary: querySignPageInfo
      parameters:
      - name: codeId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_string_5634e8'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/sign-controller
    put:
      operationId: ngSign_querySignPageInfo_4
      tags:
      - ngSign
      summary: querySignPageInfo
      parameters:
      - name: codeId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_string_5634e8'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/sign-controller
    patch:
      operationId: ngSign_querySignPageInfo_5
      tags:
      - ngSign
      summary: querySignPageInfo
      parameters:
      - name: codeId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_string_5634e8'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/sign-controller
    delete:
      operationId: ngSign_querySignPageInfo_6
      tags:
      - ngSign
      summary: querySignPageInfo
      parameters:
      - name: codeId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_string_5634e8'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/sign-controller
    options:
      operationId: ngSign_querySignPageInfo_7
      tags:
      - ngSign
      summary: querySignPageInfo
      parameters:
      - name: codeId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_string_5634e8'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/sign-controller
    trace:
      operationId: ngSign_querySignPageInfo_8
      tags:
      - ngSign
      summary: querySignPageInfo
      parameters:
      - name: codeId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_string_5634e8'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/sign-controller
components:
  schemas:
    ApiInfo:
      type: object
      properties:
        operationTime:
          type: string
        version:
          type: string
        hostName:
          type: string
      x-swagger-1-2-name: ApiInfo
    Page:
      type: object
      properties:
        currPage:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        count:
          type: integer
          format: int32
        totalPage:
          type: integer
          format: int32
        hasPre:
          type: boolean
        hasNext:
          type: boolean
        pageStr:
          type: string
        startRow:
          type: integer
          format: int32
        endRow:
          type: integer
          format: int32
      x-swagger-1-2-name: Page
    HttpResult_Map_string_string_5634e8:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: object
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«Map«string,string»»
  securitySchemes:
    tokenHeader:
      type: apiKey
      in: header
      name: token
      description: 'Session token header. Observed on live responses from https://www.51offer.com: Access-Control-Allow-Headers includes "token" and Access-Control-Expose-Headers is "token". Unauthenticated calls to public endpoints (e.g. GET /ngGpaCalc/constants) return 200; authenticated user endpoints return the envelope with a non-200 code field. 51offer publishes no developer auth documentation.'
