openapi: 3.2.0
info:
  title: 51offer Horizon Site Ng Pic API
  version: '1.0'
  summary: 51offer official-site (www.51offer.com) JSON API surface
  description: Machine-readable description of the public JSON API surface of 51offer's official study-abroad site (www.51offer.com).
  contact:
    name: 51offer
    email: woodrow.w@51offer.com
    url: https://www.51offer.com/
  x-provenance:
    converted-from: Swagger 1.2
    source: https://www.51offer.com/api-docs
    fetched: '2026-09-05'
servers:
- url: https://www.51offer.com
  description: '51offer official site API host. Verified live 2026-09-05: GET /ngGpaCalc/constants returned HTTP 200 application/json.'
- url: https://m.51offer.com
  description: 51offer mobile-site host. Serves the same Swagger 1.2 documents at /api-docs (HTTP 200, application/json, 2026-09-05).
tags:
- name: ngPic
  description: 文章图片更新控制层
paths:
  /ngPic/queryPicInfoByNewsId:
    get:
      operationId: queryPicInfoByNewsId
      tags:
      - ngPic
      summary: 获取文章下所有的图片信息
      parameters:
      - name: newsId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_string_f13f7f'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngpic
  /ngPic/refreshPicture:
    get:
      operationId: refreshPicture
      tags:
      - ngPic
      summary: 刷新图片(1000条)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngpic
    head:
      operationId: ngPic_refreshPicture_2
      tags:
      - ngPic
      summary: 刷新图片(1000条)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngpic
    post:
      operationId: ngPic_refreshPicture_3
      tags:
      - ngPic
      summary: 刷新图片(1000条)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngpic
    put:
      operationId: ngPic_refreshPicture_4
      tags:
      - ngPic
      summary: 刷新图片(1000条)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngpic
    patch:
      operationId: ngPic_refreshPicture_5
      tags:
      - ngPic
      summary: 刷新图片(1000条)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngpic
    delete:
      operationId: ngPic_refreshPicture_6
      tags:
      - ngPic
      summary: 刷新图片(1000条)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngpic
    options:
      operationId: ngPic_refreshPicture_7
      tags:
      - ngPic
      summary: 刷新图片(1000条)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngpic
    trace:
      operationId: ngPic_refreshPicture_8
      tags:
      - ngPic
      summary: 刷新图片(1000条)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngpic
  /ngPic/updatePicList:
    get:
      operationId: updatePicList
      tags:
      - ngPic
      summary: 更新图片信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PicInfoVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngpic
    head:
      operationId: ngPic_updatePicList_2
      tags:
      - ngPic
      summary: 更新图片信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PicInfoVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngpic
    post:
      operationId: ngPic_updatePicList_3
      tags:
      - ngPic
      summary: 更新图片信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PicInfoVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngpic
    put:
      operationId: ngPic_updatePicList_4
      tags:
      - ngPic
      summary: 更新图片信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PicInfoVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngpic
    patch:
      operationId: ngPic_updatePicList_5
      tags:
      - ngPic
      summary: 更新图片信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PicInfoVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngpic
    delete:
      operationId: ngPic_updatePicList_6
      tags:
      - ngPic
      summary: 更新图片信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PicInfoVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngpic
    options:
      operationId: ngPic_updatePicList_7
      tags:
      - ngPic
      summary: 更新图片信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PicInfoVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngpic
    trace:
      operationId: ngPic_updatePicList_8
      tags:
      - ngPic
      summary: 更新图片信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PicInfoVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngpic
components:
  schemas:
    HttpResult_boolean_f50dfc:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: boolean
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«boolean»
    HttpResult_List_string_f13f7f:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            type: string
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«List«string»»
    Page:
      type: object
      properties:
        currPage:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        count:
          type: integer
          format: int32
        totalPage:
          type: integer
          format: int32
        hasPre:
          type: boolean
        hasNext:
          type: boolean
        pageStr:
          type: string
        startRow:
          type: integer
          format: int32
        endRow:
          type: integer
          format: int32
      x-swagger-1-2-name: Page
    PicInfoVO:
      type: object
      description: Model referenced by the 51offer Swagger 1.2 documents at https://www.51offer.com/api-docs but never defined in them; no properties are asserted here because the provider does not publish any.
      x-undefined-in-source: true
    ApiInfo:
      type: object
      properties:
        operationTime:
          type: string
        version:
          type: string
        hostName:
          type: string
      x-swagger-1-2-name: ApiInfo
  securitySchemes:
    tokenHeader:
      type: apiKey
      in: header
      name: token
      description: 'Session token header. Observed on live responses from https://www.51offer.com: Access-Control-Allow-Headers includes "token" and Access-Control-Expose-Headers is "token". Unauthenticated calls to public endpoints (e.g. GET /ngGpaCalc/constants) return 200; authenticated user endpoints return the envelope with a non-200 code field. 51offer publishes no developer auth documentation.'
