openapi: 3.1.0
info:
  title: 51offer Horizon Site API
  version: '1.0'
  summary: 51offer official-site (www.51offer.com) JSON API surface
  description: Machine-readable description of the public JSON API surface of 51offer's official study-abroad site (www.51offer.com).
    Converted, without additions, from the Swagger 1.2 documents 51offer itself serves at https://www.51offer.com/api-docs
    — whose own info block reads "Horizon Site APIConfig List / 51offer官网所有开放接口清单" (the list of all open interfaces on the
    51offer official site) with contact woodrow.w@51offer.com. Every path, method, operationId, summary, parameter, response
    code and model here comes from those documents; nothing was invented. Endpoints cover DIY study-abroad applications, school
    selection and matching, adviser and channel services, the mall/ordering and refund flows, GPA calculation, language-training
    correction, sign-in and user profile.
  contact:
    name: 51offer
    email: woodrow.w@51offer.com
    url: https://www.51offer.com/
  x-provenance:
    converted-from: Swagger 1.2
    source: https://www.51offer.com/api-docs
    fetched: '2026-09-05'
servers:
- url: https://www.51offer.com
  description: '51offer official site API host. Verified live 2026-09-05: GET /ngGpaCalc/constants returned HTTP 200 application/json.'
- url: https://m.51offer.com
  description: 51offer mobile-site host. Serves the same Swagger 1.2 documents at /api-docs (HTTP 200, application/json, 2026-09-05).
tags:
- name: diym
  description: diy材料申请信息控制层
- name: ngEnroll
  description: Enroll Controller
- name: ngAdviser
  description: 顾问控制层
- name: ngAlliance
  description: 大总管服务控制层
- name: ngDeliveryChannel
  description: 渠道限时兑换礼包相关控制层
- name: ngDiy
  description: Diy服务控制层
- name: ngdiyapplypay
  description: Diy申请支付服务控制
- name: ngdiychooseSchool
  description: diy选校控制器
- name: ngdiypositioningnotice
  description: diy定位通知服务
- name: ngdiyselectschool
  description: Diy选校控制器前置
- name: ngdiysinglepage
  description: diy单品页控制器
- name: ngDoubleTwelve
  description: 双十二活动服务控制层
- name: ngGpaCalc
  description: GPA计算器
- name: ngHome
  description: H5首页控制层
- name: ngLanCorrect
  description: 语培口语批改
- name: ngMall
  description: 商城控制层
- name: ngPayCoupon
  description: 51品牌节支付优惠券
- name: ngPic
  description: 文章图片更新控制层
- name: ngrefund
  description: 订单退款控制层
- name: ngUserInfo
  description: runway用户控制层
- name: ngSign
  description: Sign Controller
paths:
  /diym/apply/delete/file:
    get:
      operationId: deleteMaterialFileInfo
      tags:
      - diym
      summary: diy申请信息
      description: 删除上传的材料信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: integer
              format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
  /diym/apply/getCityByProvince:
    get:
      operationId: getCityByProvince
      tags:
      - diym
      summary: getCityByProvince
      description: getCityByProvince
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_CMSCity_c63aae'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
    head:
      operationId: diym_getCityByProvince_2
      tags:
      - diym
      summary: getCityByProvince
      description: getCityByProvince
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_CMSCity_c63aae'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
    post:
      operationId: diym_getCityByProvince_3
      tags:
      - diym
      summary: getCityByProvince
      description: getCityByProvince
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_CMSCity_c63aae'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
    put:
      operationId: diym_getCityByProvince_4
      tags:
      - diym
      summary: getCityByProvince
      description: getCityByProvince
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_CMSCity_c63aae'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
    patch:
      operationId: diym_getCityByProvince_5
      tags:
      - diym
      summary: getCityByProvince
      description: getCityByProvince
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_CMSCity_c63aae'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
    delete:
      operationId: diym_getCityByProvince_6
      tags:
      - diym
      summary: getCityByProvince
      description: getCityByProvince
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_CMSCity_c63aae'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
    options:
      operationId: diym_getCityByProvince_7
      tags:
      - diym
      summary: getCityByProvince
      description: getCityByProvince
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_CMSCity_c63aae'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
    trace:
      operationId: diym_getCityByProvince_8
      tags:
      - diym
      summary: getCityByProvince
      description: getCityByProvince
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_CMSCity_c63aae'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
  /diym/apply/getCountyByCity:
    get:
      operationId: getCountyByCity
      tags:
      - diym
      summary: getCountyByCity
      description: getCountyByCity
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_CityCounty_269c0c'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
    head:
      operationId: diym_getCountyByCity_2
      tags:
      - diym
      summary: getCountyByCity
      description: getCountyByCity
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_CityCounty_269c0c'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
    post:
      operationId: diym_getCountyByCity_3
      tags:
      - diym
      summary: getCountyByCity
      description: getCountyByCity
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_CityCounty_269c0c'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
    put:
      operationId: diym_getCountyByCity_4
      tags:
      - diym
      summary: getCountyByCity
      description: getCountyByCity
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_CityCounty_269c0c'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
    patch:
      operationId: diym_getCountyByCity_5
      tags:
      - diym
      summary: getCountyByCity
      description: getCountyByCity
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_CityCounty_269c0c'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
    delete:
      operationId: diym_getCountyByCity_6
      tags:
      - diym
      summary: getCountyByCity
      description: getCountyByCity
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_CityCounty_269c0c'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
    options:
      operationId: diym_getCountyByCity_7
      tags:
      - diym
      summary: getCountyByCity
      description: getCountyByCity
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_CityCounty_269c0c'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
    trace:
      operationId: diym_getCountyByCity_8
      tags:
      - diym
      summary: getCountyByCity
      description: getCountyByCity
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_CityCounty_269c0c'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
  /diym/apply/getProvinceByCountry:
    get:
      operationId: getProvinceByCountry
      tags:
      - diym
      summary: getProvinceByCountry
      description: getProvinceByCountry
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Area_f64d77'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
    head:
      operationId: diym_getProvinceByCountry_2
      tags:
      - diym
      summary: getProvinceByCountry
      description: getProvinceByCountry
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Area_f64d77'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
    post:
      operationId: diym_getProvinceByCountry_3
      tags:
      - diym
      summary: getProvinceByCountry
      description: getProvinceByCountry
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Area_f64d77'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
    put:
      operationId: diym_getProvinceByCountry_4
      tags:
      - diym
      summary: getProvinceByCountry
      description: getProvinceByCountry
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Area_f64d77'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
    patch:
      operationId: diym_getProvinceByCountry_5
      tags:
      - diym
      summary: getProvinceByCountry
      description: getProvinceByCountry
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Area_f64d77'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
    delete:
      operationId: diym_getProvinceByCountry_6
      tags:
      - diym
      summary: getProvinceByCountry
      description: getProvinceByCountry
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Area_f64d77'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
    options:
      operationId: diym_getProvinceByCountry_7
      tags:
      - diym
      summary: getProvinceByCountry
      description: getProvinceByCountry
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Area_f64d77'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
    trace:
      operationId: diym_getProvinceByCountry_8
      tags:
      - diym
      summary: getProvinceByCountry
      description: getProvinceByCountry
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Area_f64d77'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
  /diym/apply/query/apply:
    post:
      operationId: getUserMainApplyInfo
      tags:
      - diym
      summary: diy申请信息
      description: 查询申请信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_UsersApplyInfoVO_61ce7d'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
  /diym/apply/query/common:
    get:
      operationId: getCommonInfo
      tags:
      - diym
      summary: diy申请信息
      description: 查询通用信息
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
  /diym/apply/query/list:
    get:
      operationId: getApplySchoolList
      tags:
      - diym
      summary: diy申请信息
      description: 用户待提交材料订单列表
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_OrderVO_89c6f2'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
  /diym/apply/query/mainStatus:
    post:
      operationId: getUserMainApplyStatus
      tags:
      - diym
      summary: diy申请信息
      description: 查询申请信息状态
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
  /diym/apply/query/status:
    get:
      operationId: getOrderSubmitStatus
      tags:
      - diym
      summary: diy申请信息
      description: 查询子订单状态信息
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_DiyMaterialOrder_066184'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
  /diym/apply/save/status:
    post:
      operationId: updateOrderSubmitStatus
      tags:
      - diym
      summary: diy申请信息
      description: 保存子订单状态信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymapply
  /diym/basic/delete/education:
    get:
      operationId: deleteUserEducationInfo
      tags:
      - diym
      summary: diy个人信息
      description: 删除用户教育背景
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: integer
              format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymbasic
  /diym/basic/delete/language:
    get:
      operationId: deleteUserLanguageScoreInfo
      tags:
      - diym
      summary: diy个人信息
      description: 删除用户语言成绩信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: integer
              format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymbasic
  /diym/basic/delete/work:
    get:
      operationId: deleteUserWorkInfo
      tags:
      - diym
      summary: diy个人信息
      description: 删除用户工作经历信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: integer
              format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymbasic
  /diym/basic/query/basicinfo:
    get:
      operationId: getUserBasicInfo
      tags:
      - diym
      summary: diy个人信息
      description: 查询用户基本信息
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_UsersInfoVO_fe4808'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymbasic
  /diym/basic/query/education:
    get:
      operationId: getUserEducationInfo
      tags:
      - diym
      summary: diy个人信息
      description: 查询用户教育背景
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_UsersEducationVO_f1a5d3'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymbasic
  /diym/basic/query/language:
    get:
      operationId: getUserLanguageScoreInfo
      tags:
      - diym
      summary: diy个人信息
      description: 查询用户语言成绩信息
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_UsersLanguageScoreVO_3a3339'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymbasic
  /diym/basic/query/work:
    get:
      operationId: getUserWorkInfo
      tags:
      - diym
      summary: diy个人信息
      description: 查询用户工作经历信息
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_UsersWorkVO_99b986'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymbasic
  /diym/basic/save/basicinfo:
    post:
      operationId: saveUserBasicInfo
      tags:
      - diym
      summary: diy个人信息
      description: 保存用户基本信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersInfoVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymbasic
  /diym/basic/save/education:
    post:
      operationId: saveUserEducationInfo
      tags:
      - diym
      summary: diy个人信息
      description: 保存用户教育背景
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UsersEducationVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymbasic
  /diym/basic/save/language:
    post:
      operationId: saveUserLanguageScoreInfo
      tags:
      - diym
      summary: diy个人信息
      description: 保存用户语言成绩信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UsersLanguageScoreVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymbasic
  /diym/basic/save/work:
    post:
      operationId: saveUserWorkInfo
      tags:
      - diym
      summary: diy个人信息
      description: 保存用户工作经历信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UsersWorkVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymbasic
  /diym/qrcode/check:
    get:
      operationId: checkQrCode
      tags:
      - diym
      summary: diy扫码登录
      description: 校验二维码
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_string_5634e8'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymqrcode
  /diym/qrcode/create:
    get:
      operationId: createQrCode
      tags:
      - diym
      summary: diy扫码登录
      description: 生成二维码
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_string_5634e8'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymqrcode
  /diym/qrcode/login:
    get:
      operationId: login
      tags:
      - diym
      summary: diy扫码登录
      description: 登陆
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                session:
                  type: string
                thirdChannelId:
                  type: integer
                  format: int32
                uuid:
                  type: string
              x-derived-from: swagger-1.2 body parameters (generator emitted name "body"; the real field name is carried in
                the parameter description)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymqrcode
  /diym/qrcode/logout:
    get:
      operationId: logout
      tags:
      - diym
      summary: logout
      description: logout
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymqrcode
  /diym/school/delete/ps:
    get:
      operationId: deleteUserPSInfo
      tags:
      - diym
      summary: diy学校材料
      description: 删除当前子订单用户个人陈述信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  format: int32
                orderId:
                  type: integer
                  format: int32
              x-derived-from: swagger-1.2 body parameters (generator emitted name "body"; the real field name is carried in
                the parameter description)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymschool
  /diym/school/delete/reference:
    get:
      operationId: deleteUserSuborderReferenceInfo
      tags:
      - diym
      summary: diy学校材料
      description: 删除当前子订单用户推荐人及推荐信全部信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  format: int32
                orderId:
                  type: integer
                  format: int32
              x-derived-from: swagger-1.2 body parameters (generator emitted name "body"; the real field name is carried in
                the parameter description)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymschool
  /diym/school/delete/suborderother:
    get:
      operationId: deleteUserSuborderOtherInfo
      tags:
      - diym
      summary: diy学校材料
      description: 删除当前子订单用户作品及其他信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  format: int32
                orderId:
                  type: integer
                  format: int32
              x-derived-from: swagger-1.2 body parameters (generator emitted name "body"; the real field name is carried in
                the parameter description)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymschool
  /diym/school/query/ps:
    get:
      operationId: getUserPSInfo
      tags:
      - diym
      summary: diy学校材料
      description: 查询当前子订单用户个人陈述信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: integer
              format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_MaterialSuborderPs_13bc4a'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymschool
  /diym/school/query/psList:
    get:
      operationId: diym_getUserPSInfo_2
      tags:
      - diym
      summary: diy学校材料
      description: 查询当前子订单用户个人陈述信息
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_MaterialSuborderPs_27499a'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymschool
  /diym/school/query/reference:
    get:
      operationId: getUserSuborderReferenceInfo
      tags:
      - diym
      summary: diy学校材料
      description: 查询当前子订单用户推荐信信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: integer
              format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_UsersReferenceVO_94b319'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymschool
  /diym/school/query/suborderother:
    get:
      operationId: getUserSuborderOtherInfo
      tags:
      - diym
      summary: diy学校材料
      description: 查询当前子订单用户作品及其他信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: integer
              format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_MaterialSuborderOther_e3a16c'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymschool
  /diym/school/query/suborderotherList:
    get:
      operationId: diym_getUserSuborderOtherInfo_2
      tags:
      - diym
      summary: diy学校材料
      description: 根据uid查询用户作品及其他信息列表
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_MaterialSuborderOther_df22a6'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymschool
  /diym/school/save/ps:
    post:
      operationId: saveUserPSInfo
      tags:
      - diym
      summary: diy学校材料
      description: 保存当前子订单用户个人陈述信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaterialSuborderPs'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymschool
  /diym/school/save/reference:
    post:
      operationId: saveUserSuborderReferenceInfo
      tags:
      - diym
      summary: diy学校材料
      description: 保存当前子订单用户推荐信信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UsersReferenceVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymschool
  /diym/school/save/suborderother:
    post:
      operationId: saveUserSuborderOtherInfo
      tags:
      - diym
      summary: diy学校材料
      description: 保存当前子订单用户作品及其他信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaterialSuborderOther'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/diymschool
  /ngEnroll/getAuthority:
    get:
      operationId: getAuthority
      tags:
      - ngEnroll
      summary: 根据用户权限
      description: 根据条件查询用户信息
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
  /ngEnroll/getSysUserList:
    get:
      operationId: getSysUserList
      tags:
      - ngEnroll
      summary: 获取招生老师信息
      description: 获取招生老师信息
      parameters:
      - name: token
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
  /ngEnroll/login:
    get:
      operationId: index
      tags:
      - ngEnroll
      summary: index
      description: index
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
    head:
      operationId: ngEnroll_index_2
      tags:
      - ngEnroll
      summary: index
      description: index
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
    post:
      operationId: ngEnroll_index_3
      tags:
      - ngEnroll
      summary: index
      description: index
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
    put:
      operationId: ngEnroll_index_4
      tags:
      - ngEnroll
      summary: index
      description: index
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
    patch:
      operationId: ngEnroll_index_5
      tags:
      - ngEnroll
      summary: index
      description: index
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
    delete:
      operationId: ngEnroll_index_6
      tags:
      - ngEnroll
      summary: index
      description: index
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
    options:
      operationId: ngEnroll_index_7
      tags:
      - ngEnroll
      summary: index
      description: index
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
    trace:
      operationId: ngEnroll_index_8
      tags:
      - ngEnroll
      summary: index
      description: index
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
  /ngEnroll/queryRunwaySysUserById:
    get:
      operationId: queryRunwaySysUserBySysUid
      tags:
      - ngEnroll
      summary: 获取顾问信息详情
      description: 获取顾问信息详情
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
  /ngEnroll/queryRunwaySysUserInfoList:
    get:
      operationId: queryRunwaySysUserInfoList
      tags:
      - ngEnroll
      summary: 获取管理人员信息列表
      description: 获取管理人员信息列表
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunwaySysUserInfoSearch'
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
  /ngEnroll/queryRunwayUserInfoById:
    get:
      operationId: queryRunwayUserInfoByApplyId
      tags:
      - ngEnroll
      summary: 获取用户申请信息详情
      description: 获取用户申请信息详情
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
  /ngEnroll/queryRunwayUserInfoList:
    get:
      operationId: queryRunwayUserInfoList
      tags:
      - ngEnroll
      summary: 获取用户申请信息列表
      description: 获取用户申请信息列表
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunwayUserInfoSearch'
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
  /ngEnroll/sendMessage:
    get:
      operationId: sendRunwayMessage
      tags:
      - ngEnroll
      summary: 发送短信
      description: 发送短信
      parameters:
      - name: applyId
        in: query
        required: true
        schema:
          type: string
      - name: token
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
  /ngEnroll/updateRunwaySysUser:
    get:
      operationId: updateRunwaySysUserById
      tags:
      - ngEnroll
      summary: 变更或新增顾问信息
      description: 变更或新增顾问信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunwaySysUser'
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
  /ngEnroll/updateRunwayUserInfoById:
    get:
      operationId: updateRunwayUserInfoByApplyId
      tags:
      - ngEnroll
      summary: 变更申请信息
      description: 变更申请信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunwayUserInfo'
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
  /ngAdviser/checkUserMobile:
    get:
      operationId: checkUserMobile
      tags:
      - ngAdviser
      summary: 核查用户手机号是否已经被注册过
      description: 核查用户手机号是否已经被注册过
      parameters:
      - name: region
        in: query
        required: true
        schema:
          type: string
      - name: mobile
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/exportExcelData:
    get:
      operationId: exportExcelData
      tags:
      - ngAdviser
      summary: 导出excel
      description: 导出excel
      parameters:
      - name: startTime
        in: query
        required: false
        schema:
          type: string
      - name: endTime
        in: query
        required: false
        schema:
          type: string
      - name: src
        in: query
        required: false
        schema:
          type: string
      - name: telephone
        in: query
        required: false
        schema:
          type: string
      - name: source
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/getAuthority:
    get:
      operationId: ngAdviser_getAuthority_2
      tags:
      - ngAdviser
      summary: 根据用户权限
      description: 根据条件查询用户信息
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_string_f13f7f'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/getCountryList:
    get:
      operationId: getCountryList
      tags:
      - ngAdviser
      summary: 获取可申请国家列表
      description: 获取可申请国家列表
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Country_4307e8'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/getDictInfo:
    get:
      operationId: getDictInfoBypcode
      tags:
      - ngAdviser
      summary: getDictInfoBypcode
      description: getDictInfoBypcode
      parameters:
      - name: pcode
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Dict_628083'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    head:
      operationId: ngAdviser_getDictInfoBypcode_2
      tags:
      - ngAdviser
      summary: getDictInfoBypcode
      description: getDictInfoBypcode
      parameters:
      - name: pcode
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Dict_628083'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    post:
      operationId: ngAdviser_getDictInfoBypcode_3
      tags:
      - ngAdviser
      summary: getDictInfoBypcode
      description: getDictInfoBypcode
      parameters:
      - name: pcode
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Dict_628083'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    put:
      operationId: ngAdviser_getDictInfoBypcode_4
      tags:
      - ngAdviser
      summary: getDictInfoBypcode
      description: getDictInfoBypcode
      parameters:
      - name: pcode
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Dict_628083'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    patch:
      operationId: ngAdviser_getDictInfoBypcode_5
      tags:
      - ngAdviser
      summary: getDictInfoBypcode
      description: getDictInfoBypcode
      parameters:
      - name: pcode
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Dict_628083'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    delete:
      operationId: ngAdviser_getDictInfoBypcode_6
      tags:
      - ngAdviser
      summary: getDictInfoBypcode
      description: getDictInfoBypcode
      parameters:
      - name: pcode
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Dict_628083'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    options:
      operationId: ngAdviser_getDictInfoBypcode_7
      tags:
      - ngAdviser
      summary: getDictInfoBypcode
      description: getDictInfoBypcode
      parameters:
      - name: pcode
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Dict_628083'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    trace:
      operationId: ngAdviser_getDictInfoBypcode_8
      tags:
      - ngAdviser
      summary: getDictInfoBypcode
      description: getDictInfoBypcode
      parameters:
      - name: pcode
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Dict_628083'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/getSrcByStoreId:
    get:
      operationId: getSrcByStoreId
      tags:
      - ngAdviser
      summary: getSrcByStoreId
      description: getSrcByStoreId
      parameters:
      - name: storeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_AllianceStore_f306f7'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    head:
      operationId: ngAdviser_getSrcByStoreId_2
      tags:
      - ngAdviser
      summary: getSrcByStoreId
      description: getSrcByStoreId
      parameters:
      - name: storeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_AllianceStore_f306f7'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    post:
      operationId: ngAdviser_getSrcByStoreId_3
      tags:
      - ngAdviser
      summary: getSrcByStoreId
      description: getSrcByStoreId
      parameters:
      - name: storeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_AllianceStore_f306f7'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    put:
      operationId: ngAdviser_getSrcByStoreId_4
      tags:
      - ngAdviser
      summary: getSrcByStoreId
      description: getSrcByStoreId
      parameters:
      - name: storeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_AllianceStore_f306f7'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    patch:
      operationId: ngAdviser_getSrcByStoreId_5
      tags:
      - ngAdviser
      summary: getSrcByStoreId
      description: getSrcByStoreId
      parameters:
      - name: storeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_AllianceStore_f306f7'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    delete:
      operationId: ngAdviser_getSrcByStoreId_6
      tags:
      - ngAdviser
      summary: getSrcByStoreId
      description: getSrcByStoreId
      parameters:
      - name: storeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_AllianceStore_f306f7'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    options:
      operationId: ngAdviser_getSrcByStoreId_7
      tags:
      - ngAdviser
      summary: getSrcByStoreId
      description: getSrcByStoreId
      parameters:
      - name: storeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_AllianceStore_f306f7'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    trace:
      operationId: ngAdviser_getSrcByStoreId_8
      tags:
      - ngAdviser
      summary: getSrcByStoreId
      description: getSrcByStoreId
      parameters:
      - name: storeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_AllianceStore_f306f7'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/getSysUsersList:
    get:
      operationId: getSysUsersList
      tags:
      - ngAdviser
      summary: 获取顾问信息
      description: 获取顾问信息
      parameters:
      - name: username
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_SysUsers_0356ba'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/getUsersList:
    get:
      operationId: getUsersList
      tags:
      - ngAdviser
      summary: 获取用户信息
      description: 获取用户信息
      parameters:
      - name: uid
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: mobile
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Users_81a132'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/getUsersPartnerInfoList:
    get:
      operationId: getUsersPartnerInfoList
      tags:
      - ngAdviser
      summary: 根据条件查询用户信息
      description: 根据条件查询用户信息
      parameters:
      - name: orgId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: startTime
        in: query
        required: false
        schema:
          type: string
      - name: endTime
        in: query
        required: false
        schema:
          type: string
      - name: src
        in: query
        required: false
        schema:
          type: string
      - name: telephone
        in: query
        required: false
        schema:
          type: string
      - name: source
        in: query
        required: false
        schema:
          type: string
      - name: uid
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: srcs
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/List'
      - name: pageNo
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: beginRow
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: endRow
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_UsersPartnerInfo_c9de4a'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/queryChannelList:
    get:
      operationId: queryChannelList
      tags:
      - ngAdviser
      summary: queryChannelList
      description: queryChannelList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_ChannelInfo_c68762'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    head:
      operationId: ngAdviser_queryChannelList_2
      tags:
      - ngAdviser
      summary: queryChannelList
      description: queryChannelList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_ChannelInfo_c68762'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    post:
      operationId: ngAdviser_queryChannelList_3
      tags:
      - ngAdviser
      summary: queryChannelList
      description: queryChannelList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_ChannelInfo_c68762'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    put:
      operationId: ngAdviser_queryChannelList_4
      tags:
      - ngAdviser
      summary: queryChannelList
      description: queryChannelList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_ChannelInfo_c68762'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    patch:
      operationId: ngAdviser_queryChannelList_5
      tags:
      - ngAdviser
      summary: queryChannelList
      description: queryChannelList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_ChannelInfo_c68762'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    delete:
      operationId: ngAdviser_queryChannelList_6
      tags:
      - ngAdviser
      summary: queryChannelList
      description: queryChannelList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_ChannelInfo_c68762'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    options:
      operationId: ngAdviser_queryChannelList_7
      tags:
      - ngAdviser
      summary: queryChannelList
      description: queryChannelList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_ChannelInfo_c68762'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    trace:
      operationId: ngAdviser_queryChannelList_8
      tags:
      - ngAdviser
      summary: queryChannelList
      description: queryChannelList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_ChannelInfo_c68762'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/queryOrgSrc:
    get:
      operationId: queryOrgSrc
      tags:
      - ngAdviser
      summary: queryOrgSrc
      description: queryOrgSrc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    head:
      operationId: ngAdviser_queryOrgSrc_2
      tags:
      - ngAdviser
      summary: queryOrgSrc
      description: queryOrgSrc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    post:
      operationId: ngAdviser_queryOrgSrc_3
      tags:
      - ngAdviser
      summary: queryOrgSrc
      description: queryOrgSrc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    put:
      operationId: ngAdviser_queryOrgSrc_4
      tags:
      - ngAdviser
      summary: queryOrgSrc
      description: queryOrgSrc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    patch:
      operationId: ngAdviser_queryOrgSrc_5
      tags:
      - ngAdviser
      summary: queryOrgSrc
      description: queryOrgSrc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    delete:
      operationId: ngAdviser_queryOrgSrc_6
      tags:
      - ngAdviser
      summary: queryOrgSrc
      description: queryOrgSrc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    options:
      operationId: ngAdviser_queryOrgSrc_7
      tags:
      - ngAdviser
      summary: queryOrgSrc
      description: queryOrgSrc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    trace:
      operationId: ngAdviser_queryOrgSrc_8
      tags:
      - ngAdviser
      summary: queryOrgSrc
      description: queryOrgSrc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/queryPartnersInfo:
    get:
      operationId: queryPartnersInfo
      tags:
      - ngAdviser
      summary: 获取合作方信息
      description: 获取合作方信息
      parameters:
      - name: username
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_SysPartners_77c335'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/querySignWechatList:
    get:
      operationId: querySignWechaList
      tags:
      - ngAdviser
      summary: querySignWechaList
      description: querySignWechaList
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignWechatCodeVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_SignWechatCode_fccc47'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    head:
      operationId: ngAdviser_querySignWechaList_2
      tags:
      - ngAdviser
      summary: querySignWechaList
      description: querySignWechaList
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignWechatCodeVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_SignWechatCode_fccc47'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    post:
      operationId: ngAdviser_querySignWechaList_3
      tags:
      - ngAdviser
      summary: querySignWechaList
      description: querySignWechaList
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignWechatCodeVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_SignWechatCode_fccc47'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    put:
      operationId: ngAdviser_querySignWechaList_4
      tags:
      - ngAdviser
      summary: querySignWechaList
      description: querySignWechaList
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignWechatCodeVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_SignWechatCode_fccc47'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    patch:
      operationId: ngAdviser_querySignWechaList_5
      tags:
      - ngAdviser
      summary: querySignWechaList
      description: querySignWechaList
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignWechatCodeVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_SignWechatCode_fccc47'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    delete:
      operationId: ngAdviser_querySignWechaList_6
      tags:
      - ngAdviser
      summary: querySignWechaList
      description: querySignWechaList
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignWechatCodeVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_SignWechatCode_fccc47'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    options:
      operationId: ngAdviser_querySignWechaList_7
      tags:
      - ngAdviser
      summary: querySignWechaList
      description: querySignWechaList
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignWechatCodeVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_SignWechatCode_fccc47'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    trace:
      operationId: ngAdviser_querySignWechaList_8
      tags:
      - ngAdviser
      summary: querySignWechaList
      description: querySignWechaList
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignWechatCodeVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_SignWechatCode_fccc47'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/queryUserInfo:
    get:
      operationId: queryUserInfo
      tags:
      - ngAdviser
      summary: queryUserInfo
      description: queryUserInfo
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSignSearchVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_UsersSignVO_0f9221'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    head:
      operationId: ngAdviser_queryUserInfo_2
      tags:
      - ngAdviser
      summary: queryUserInfo
      description: queryUserInfo
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSignSearchVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_UsersSignVO_0f9221'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    post:
      operationId: ngAdviser_queryUserInfo_3
      tags:
      - ngAdviser
      summary: queryUserInfo
      description: queryUserInfo
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSignSearchVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_UsersSignVO_0f9221'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    put:
      operationId: ngAdviser_queryUserInfo_4
      tags:
      - ngAdviser
      summary: queryUserInfo
      description: queryUserInfo
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSignSearchVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_UsersSignVO_0f9221'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    patch:
      operationId: ngAdviser_queryUserInfo_5
      tags:
      - ngAdviser
      summary: queryUserInfo
      description: queryUserInfo
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSignSearchVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_UsersSignVO_0f9221'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    delete:
      operationId: ngAdviser_queryUserInfo_6
      tags:
      - ngAdviser
      summary: queryUserInfo
      description: queryUserInfo
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSignSearchVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_UsersSignVO_0f9221'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    options:
      operationId: ngAdviser_queryUserInfo_7
      tags:
      - ngAdviser
      summary: queryUserInfo
      description: queryUserInfo
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSignSearchVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_UsersSignVO_0f9221'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    trace:
      operationId: ngAdviser_queryUserInfo_8
      tags:
      - ngAdviser
      summary: queryUserInfo
      description: queryUserInfo
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSignSearchVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_UsersSignVO_0f9221'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/savePartnersInfo:
    post:
      operationId: savePartnersInfo
      tags:
      - ngAdviser
      summary: 保存合作方信息
      description: 保存合作方信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SysPartners'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/saveUpdateSignWechatInfo:
    post:
      operationId: saveUpdateSignWechatInfo
      tags:
      - ngAdviser
      summary: saveUpdateSignWechatInfo
      description: saveUpdateSignWechatInfo
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignWechatCode'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_SignWechatCode_40ac55'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/sysUserLogin:
    get:
      operationId: sysUserLogin
      tags:
      - ngAdviser
      summary: 顾问登陆
      description: 顾问登陆
      parameters:
      - name: username
        in: query
        required: false
        schema:
          type: string
      - name: password
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
  /ngAdviser/upload:
    get:
      operationId: upload
      tags:
      - ngAdviser
      summary: upload
      description: upload
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_string_3275da'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngadviser
    head:
      operationId: ngAdviser_upload_2
      tags:
      - ngAdviser
      summary: upload
      description: upload
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        '200':
          description: OK
          content:
            application/json:
[...]
