openapi: 3.2.0
info:
  title: 51offer Horizon Site Ng Enroll API
  version: '1.0'
  summary: 51offer official-site (www.51offer.com) JSON API surface
  description: Machine-readable description of the public JSON API surface of 51offer's official study-abroad site (www.51offer.com).
  contact:
    name: 51offer
    email: woodrow.w@51offer.com
    url: https://www.51offer.com/
  x-provenance:
    converted-from: Swagger 1.2
    source: https://www.51offer.com/api-docs
    fetched: '2026-09-05'
servers:
- url: https://www.51offer.com
  description: '51offer official site API host. Verified live 2026-09-05: GET /ngGpaCalc/constants returned HTTP 200 application/json.'
- url: https://m.51offer.com
  description: 51offer mobile-site host. Serves the same Swagger 1.2 documents at /api-docs (HTTP 200, application/json, 2026-09-05).
tags:
- name: ngEnroll
  description: Enroll Controller
paths:
  /ngEnroll/getAuthority:
    get:
      operationId: getAuthority
      tags:
      - ngEnroll
      summary: 根据用户权限
      description: 根据条件查询用户信息
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
  /ngEnroll/getSysUserList:
    get:
      operationId: getSysUserList
      tags:
      - ngEnroll
      summary: 获取招生老师信息
      parameters:
      - name: token
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
  /ngEnroll/login:
    get:
      operationId: index
      tags:
      - ngEnroll
      summary: index
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
    head:
      operationId: ngEnroll_index_2
      tags:
      - ngEnroll
      summary: index
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
    post:
      operationId: ngEnroll_index_3
      tags:
      - ngEnroll
      summary: index
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
    put:
      operationId: ngEnroll_index_4
      tags:
      - ngEnroll
      summary: index
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
    patch:
      operationId: ngEnroll_index_5
      tags:
      - ngEnroll
      summary: index
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
    delete:
      operationId: ngEnroll_index_6
      tags:
      - ngEnroll
      summary: index
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
    options:
      operationId: ngEnroll_index_7
      tags:
      - ngEnroll
      summary: index
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
    trace:
      operationId: ngEnroll_index_8
      tags:
      - ngEnroll
      summary: index
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
  /ngEnroll/queryRunwaySysUserById:
    get:
      operationId: queryRunwaySysUserBySysUid
      tags:
      - ngEnroll
      summary: 获取顾问信息详情
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
  /ngEnroll/queryRunwaySysUserInfoList:
    get:
      operationId: queryRunwaySysUserInfoList
      tags:
      - ngEnroll
      summary: 获取管理人员信息列表
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunwaySysUserInfoSearch'
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
  /ngEnroll/queryRunwayUserInfoById:
    get:
      operationId: queryRunwayUserInfoByApplyId
      tags:
      - ngEnroll
      summary: 获取用户申请信息详情
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: token
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
  /ngEnroll/queryRunwayUserInfoList:
    get:
      operationId: queryRunwayUserInfoList
      tags:
      - ngEnroll
      summary: 获取用户申请信息列表
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunwayUserInfoSearch'
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
  /ngEnroll/sendMessage:
    get:
      operationId: sendRunwayMessage
      tags:
      - ngEnroll
      summary: 发送短信
      parameters:
      - name: applyId
        in: query
        required: true
        schema:
          type: string
      - name: token
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
  /ngEnroll/updateRunwaySysUser:
    get:
      operationId: updateRunwaySysUserById
      tags:
      - ngEnroll
      summary: 变更或新增顾问信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunwaySysUser'
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
  /ngEnroll/updateRunwayUserInfoById:
    get:
      operationId: updateRunwayUserInfoByApplyId
      tags:
      - ngEnroll
      summary: 变更申请信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunwayUserInfo'
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/enroll-controller
components:
  schemas:
    RunwayUserInfoSearch:
      type: object
      description: Model referenced by the 51offer Swagger 1.2 documents at https://www.51offer.com/api-docs but never defined in them; no properties are asserted here because the provider does not publish any.
      x-undefined-in-source: true
    RunwaySysUser:
      type: object
      description: Model referenced by the 51offer Swagger 1.2 documents at https://www.51offer.com/api-docs but never defined in them; no properties are asserted here because the provider does not publish any.
      x-undefined-in-source: true
    RunwayUserInfo:
      type: object
      description: Model referenced by the 51offer Swagger 1.2 documents at https://www.51offer.com/api-docs but never defined in them; no properties are asserted here because the provider does not publish any.
      x-undefined-in-source: true
    RunwaySysUserInfoSearch:
      type: object
      description: Model referenced by the 51offer Swagger 1.2 documents at https://www.51offer.com/api-docs but never defined in them; no properties are asserted here because the provider does not publish any.
      x-undefined-in-source: true
  securitySchemes:
    tokenHeader:
      type: apiKey
      in: header
      name: token
      description: 'Session token header. Observed on live responses from https://www.51offer.com: Access-Control-Allow-Headers includes "token" and Access-Control-Expose-Headers is "token". Unauthenticated calls to public endpoints (e.g. GET /ngGpaCalc/constants) return 200; authenticated user endpoints return the envelope with a non-200 code field. 51offer publishes no developer auth documentation.'
