openapi: 3.2.0
info:
  title: 51offer Horizon Site Ngdiyselectschool API
  version: '1.0'
  summary: 51offer official-site (www.51offer.com) JSON API surface
  description: Machine-readable description of the public JSON API surface of 51offer's official study-abroad site (www.51offer.com).
  contact:
    name: 51offer
    email: woodrow.w@51offer.com
    url: https://www.51offer.com/
  x-provenance:
    converted-from: Swagger 1.2
    source: https://www.51offer.com/api-docs
    fetched: '2026-09-05'
servers:
- url: https://www.51offer.com
  description: '51offer official site API host. Verified live 2026-09-05: GET /ngGpaCalc/constants returned HTTP 200 application/json.'
- url: https://m.51offer.com
  description: 51offer mobile-site host. Serves the same Swagger 1.2 documents at /api-docs (HTTP 200, application/json, 2026-09-05).
tags:
- name: ngdiyselectschool
  description: Diy选校控制器前置
paths:
  /ngdiyselectschool/addCart:
    get:
      operationId: addCart
      tags:
      - ngdiyselectschool
      summary: 添加意向单
      parameters:
      - name: uid
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: 用户uid
      - name: applyCountryId
        in: query
        required: true
        schema:
          type: integer
          format: int32
        description: 申请国家
      - name: applyEducationId
        in: query
        required: true
        schema:
          type: integer
          format: int32
        description: 申请学历
      - name: schoolId
        in: query
        required: true
        schema:
          type: integer
          format: int32
        description: 学校 id
      - name: categoryId
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: 档次
      - name: isRecommend
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: 是否为推荐学校
      - name: majorId
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: 专业
      - name: couresId
        in: query
        required: false
        schema:
          type: integer
          format: int32
        description: 课程 （预科）
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannelId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/checkDiyUserType:
    get:
      operationId: ngdiyselectschool_checkDiyUserType_2
      tags:
      - ngdiyselectschool
      summary: diy用户成单类型分类
      parameters:
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannelId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/confirmIntentions:
    get:
      operationId: confirmIntentions
      tags:
      - ngdiyselectschool
      summary: 确认意向申请单
      parameters:
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannelId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: countryId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/deleteCartMajor:
    get:
      operationId: deleteCartMajor
      tags:
      - ngdiyselectschool
      summary: 删除意向专业（两种方式：1.、根据id删除。 2、根据degreeId,schoolId,majorId删除）
      parameters:
      - name: id
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: degreeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: schoolId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: majorId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannelId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/deleteCartSchool:
    get:
      operationId: deleteCartSchool
      tags:
      - ngdiyselectschool
      summary: 删除意向学校
      parameters:
      - name: id
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannelId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/getApplyPlanList:
    get:
      operationId: getApplyPlanList
      tags:
      - ngdiyselectschool
      summary: 获取申请方案列表
      description: 获取衔接专业列表
      parameters:
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannelId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/getCartCountry:
    get:
      operationId: getCartCountry
      tags:
      - ngdiyselectschool
      summary: 获取用户意向列表（隐藏已经提交的意向单）
      parameters:
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannelId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Map_string_object_43a756'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/getCartCountry2:
    get:
      operationId: getCartCountry2
      tags:
      - ngdiyselectschool
      summary: 获取用户意向列表（显示全部的意向单）
      parameters:
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannelId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Map_string_object_43a756'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/getCartCountryCount:
    get:
      operationId: getCartCountryCount
      tags:
      - ngdiyselectschool
      summary: 获取用户意向列表数量
      parameters:
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannelId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/getCartMajorView:
    get:
      operationId: getCartMajorView
      tags:
      - ngdiyselectschool
      summary: 添加专业弹出层列表-分页 数据
      parameters:
      - name: degreeId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: schoolId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: pageNo
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: keywords
        in: query
        required: false
        schema:
          type: string
      - name: pro
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannelId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/getCoursesType:
    get:
      operationId: getCoursesType
      tags:
      - ngdiyselectschool
      summary: 获取就读课程类型
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_string_f13f7f'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/getCurrentSchoolsByName:
    get:
      operationId: getCurrentSchoolsByName
      tags:
      - ngdiyselectschool
      summary: 根据关键字模糊搜索就读学校
      parameters:
      - name: schoolName
        in: query
        required: true
        schema:
          type: string
      - name: limitSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_University_5b7f89'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/getJoinMajor:
    get:
      operationId: getJoinMajor
      tags:
      - ngdiyselectschool
      summary: 获取衔接专业列表
      parameters:
      - name: courseId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: degreeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannelId
        in: query
        required: true
        schema:
          type: integer
          format: int32
        description: thirdChannelI
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Major_58fd76'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/getLanguageType:
    get:
      operationId: getLanguageType
      tags:
      - ngdiyselectschool
      summary: 语言类型枚举DIy
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_string_f13f7f'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/getMajorCategoryByDirectionId:
    get:
      operationId: getMajorCategoryByDirectionId
      tags:
      - ngdiyselectschool
      summary: 获取专业分类(小类)
      parameters:
      - name: directionId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_MajorCategory_f959a6'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/getMajorDirection:
    get:
      operationId: getMajorDirection
      tags:
      - ngdiyselectschool
      summary: 获取专业方向(大类)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_MajorDirection_55f171'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/getOneStep:
    get:
      operationId: getOneStep
      tags:
      - ngdiyselectschool
      summary: 获取diy第一划数据
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/getSchoolList:
    get:
      operationId: getSchoolList
      tags:
      - ngdiyselectschool
      summary: 普通查询、智能排序和关键词搜索选校列表
      parameters:
      - name: countryId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: degreeId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: sort
        in: query
        required: false
        schema:
          type: string
      - name: filter
        in: query
        required: false
        schema:
          type: string
      - name: categoryId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: query
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannelId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_IntelligentSchool_807cb4'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/getUserType:
    get:
      operationId: getUserType
      tags:
      - ngdiyselectschool
      summary: getUserType
      parameters:
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannelId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_int_f2bae6'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/getUsersThreestepsIsFull:
    get:
      operationId: getUsersThreestepsIsFull
      tags:
      - ngdiyselectschool
      summary: 判断用户三滑信息是否完整
      description: 获取用户三滑VO数据
      parameters:
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannelId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/getUsersThreestepsVO:
    get:
      operationId: getUsersThreestepsVO
      tags:
      - ngdiyselectschool
      summary: 获取用户三滑VO数据
      parameters:
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannelId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_UserDiyThreestepVO_a0208d'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/intelligent:
    get:
      operationId: queryApplyCountByUniversity
      tags:
      - ngdiyselectschool
      summary: 根据用户背景获取智能选校结果--智能选校
      parameters:
      - name: keywords
        in: query
        required: false
        schema:
          type: string
      - name: countryId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rankType
        in: query
        required: false
        schema:
          type: string
      - name: degreeName
        in: query
        required: false
        schema:
          type: string
      - name: currPage
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannelId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Map_string_object_43a756'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/readSearchChinaSchoolMajorXML2String:
    get:
      operationId: readSearchChinaSchoolMajorXML2String
      tags:
      - ngdiyselectschool
      summary: 模糊查询就读专业
      parameters:
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannelId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: count
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: searchKey
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_Docele_6e8881'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/recordSceneSrc:
    get:
      operationId: recordSceneSrc
      tags:
      - ngdiyselectschool
      summary: 场景渠道记录
      parameters:
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannelId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: platform
        in: query
        required: true
        schema:
          type: string
      - name: channel
        in: query
        required: true
        schema:
          type: string
      - name: scene
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/saveUsersOneSteps:
    get:
      operationId: saveUsersOneSteps
      tags:
      - ngdiyselectschool
      summary: 保存第一滑和第二滑信息
      parameters:
      - name: hopeYear
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: hopeCountry
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: attendGrade
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: edus
        in: query
        required: true
        schema:
          type: string
      - name: hopeQuarter
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannelId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/saveUsersThreesteps:
    post:
      operationId: saveUsersThreesteps
      tags:
      - ngdiyselectschool
      summary: 保存三滑信息
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserDiyInfoVO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/sendNotice:
    get:
      operationId: getSendNotice
      tags:
      - ngdiyselectschool
      summary: getSendNotice
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/submitIntentions:
    get:
      operationId: submitIntentions
      tags:
      - ngdiyselectschool
      summary: 提交意向单审核
      parameters:
      - name: cartSchoolIds
        in: query
        required: false
        schema:
          type: string
      - name: cartMajorIds
        in: query
        required: false
        schema:
          type: string
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannelId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
  /ngdiyselectschool/validateGoods:
    get:
      operationId: validateGoods
      tags:
      - ngdiyselectschool
      summary: 验证是否可以确认
      parameters:
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannelId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: goodsId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiyselectschool
components:
  schemas:
    MajorDirection:
      type: object
      properties:
        id:
          type: integer
          format: int32
        countryId:
          type: integer
          format: int32
        schoolId:
          type: integer
          format: int32
        gradeId:
          type: integer
          format: int32
        cname:
          type: string
        ename:
          type: string
        keyword:
          type: string
        majorCount:
          type: integer
          format: int32
      x-swagger-1-2-name: MajorDirection
    SchoolRank:
      type: object
      properties:
        id:
          type: integer
          format: int32
        country:
          type: string
        year:
          type: integer
          format: int32
        type:
          type: string
        ranking:
          type: integer
          format: int32
        showRank:
          type: string
        score:
          type: string
        countryId:
          type: integer
          format: int32
      x-swagger-1-2-name: SchoolRank
    HttpResult_List_MajorCategory_f959a6:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/MajorCategory'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«List«MajorCategory»»
    HttpResult_List_IntelligentSchool_807cb4:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/IntelligentSchool'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«List«IntelligentSchool»»
    UserDiyInfoVO:
      type: object
      description: Model referenced by the 51offer Swagger 1.2 documents at https://www.51offer.com/api-docs but never defined in them; no properties are asserted here because the provider does not publish any.
      x-undefined-in-source: true
    Area:
      type: object
      properties:
        id:
          type: integer
          format: int32
        countryId:
          type: integer
          format: int32
        cname:
          type: string
        ename:
          type: string
        regionalCname:
          type: string
        regionalEname:
          type: string
        zipCode:
          type: integer
          format: int32
        phoneCode:
          type: integer
          format: int32
      x-swagger-1-2-name: Area
    UserDiyThreestepsInfo:
      type: object
      properties:
        id:
          type: integer
          format: int32
        uid:
          type: integer
          format: int32
        realnameFirst:
          type: string
        realnameLast:
          type: string
        applyCountryId:
          type: integer
          format: int32
        hopeYear:
          type: integer
          format: int32
        hopeQuarter:
          type: integer
          format: int32
        attendGrade:
          type: integer
          format: int32
        applyEducationId:
          type: integer
          format: int32
        attendSchool:
          type: string
        attendMajor:
          type: string
        gpa:
          type: string
        gpaLevel:
          type: integer
          format: int32
        hopeMajor1:
          type: integer
          format: int32
        hopeMajor2:
          type: string
        languageKey:
          type: string
        languageValue:
          type: string
        specialRequirements:
          type: string
        createTime:
          type: string
          format: date-time
        updateTime:
          type: string
          format: date-time
      x-swagger-1-2-name: UserDiyThreestepsInfo
    HttpResult_List_Major_58fd76:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/Major'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«List«Major»»
    IntelligentSchool:
      type: object
      properties:
        categoryId:
          type: integer
          format: int32
        categoryName:
          type: string
        inCartFlag:
          type: boolean
        schoolBasic:
          $ref: '#/components/schemas/SchoolBasic'
      x-swagger-1-2-name: IntelligentSchool
    HttpResult_List_University_5b7f89:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/University'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«List«University»»
    HttpResult_UserDiyThreestepVO_a0208d:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          $ref: '#/components/schemas/UserDiyThreestepVO'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«UserDiyThreestepVO»
    HttpResult_List_string_f13f7f:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            type: string
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«List«string»»
    HttpResult_boolean_f50dfc:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: boolean
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«boolean»
    CMSCity:
      type: object
      properties:
        id:
          type: integer
          format: int32
        countryId:
          type: integer
          format: int32
        areaId:
          type: integer
          format: int32
        cityEname:
          type: string
        cityCname:
          type: string
        areaCode:
          type: string
        lable:
          type: string
        weather:
          type: string
        spendMoney:
          type: string
        traffic:
          type: string
        partTime:
          type: string
        picture:
          type: string
      x-swagger-1-2-name: CMSCity
    UserDiyThreestepVO:
      type: object
      properties:
        userDiyThreestepsInfo:
          $ref: '#/components/schemas/UserDiyThreestepsInfo'
        firstCountry:
          type: integer
          format: int32
        secondCountry:
          type: integer
          format: int32
        educations:
          type: array
          items:
            type: integer
        userDiyInfo:
          $ref: '#/components/schemas/UserDiyInfo'
        applySchoolList:
          type: array
          items:
            $ref: '#/components/schemas/DiyAppliedSchoolVO'
      x-swagger-1-2-name: UserDiyThreestepVO
    UserDiyInfo:
      type: object
      properties:
        uid:
          type: integer
          format: int32
        signingAgent:
          type: integer
          format: int32
        hopeRecSchool:
          type: string
        listenScore:
          type: number
          format: double
        readScore:
          type: number
          format: double
        writeScore:
          type: number
          format: double
        speakScore:
          type: number
          format: double
        practice:
          type: string
        specialRequirements:
          type: string
        email:
          type: string
        wechatId:
          type: string
        hopeIntroService:
          type: string
        wechatPhone:
          type: integer
          format: int32
        planningBookId:
          type: integer
          format: int32
        extraService:
          type: integer
          format: int32
      x-swagger-1-2-name: UserDiyInfo
    University:
      type: object
      properties:
        id:
          type: integer
          format: int32
        status:
          type: integer
          format: int32
        name:
          type: string
        ename:
          type: string
        province:
          type: string
        city:
          type: string
        level:
          type: string
        type:
          type: string
        v211:
          type: string
        v985:
          type: string
        rank:
          type: integer
          format: int32
      x-swagger-1-2-name: University
    Country:
      type: object
      properties:
        id:
          type: integer
          format: int32
        upperName:
          type: string
        cname:
          type: string
        ename:
          type: string
        logo:
          type: string
        iso:
          type: string
        iso3:
          type: string
        numCode:
          type: integer
          format: int32
        phoneCode:
          type: integer
          format: int32
      x-swagger-1-2-name: Country
    Major:
      type: object
      properties:
        id:
          type: integer
          format: int32
        schoolId:
          type: integer
          format: int32
        gradeId:
          type: integer
          format: int32
        cname:
          type: string
        ename:
          type: string
        direction:
          type: string
        eductionalSystem:
          type: string
        degreeName:
          type: string
        courseType:
          type: string
        majorUrl:
          type: string
        tuition:
          type: string
        applyFee:
          type: number
          format: double
        shortName:
          type: string
        applyStatus:
          type: integer
          format: int32
        currency:
          type: integer
          format: int32
        ieltsRequire:
          type: string
        applyRequire:
          type: string
        applyType:
          type: integer
          format: int32
      x-swagger-1-2-name: Major
    Page:
      type: object
      properties:
        currPage:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        count:
          type: integer
          format: int32
        totalPage:
          type: integer
          format: int32
        hasPre:
          type: boolean
        hasNext:
          type: boolean
        pageStr:
          type: string
        startRow:
          type: integer
          format: int32
        endRow:
          type: integer
          format: int32
      x-swagger-1-2-name: Page
    ApiInfo:
      type: object
      properties:
        operationTime:
          type: string
        version:
          type: string
        hostName:
          type: string
      x-swagger-1-2-name: ApiInfo
    Docele:
      type: object
      properties:
        id:
          type: integer
          format: int32
        title:
          type: string
        hot:
          type: integer
          format: int32
        rank:
          type: integer
          format: int32
        primaryRankScore:
          type: integer
          format: int32
        secondRankScore:
          type: integer
          format: int32
        distinctCount:
          type: integer
          format: int32
        onlineStatus:
          type: integer
          format: int32
        sumValue:
          type: integer
          format: int32
      x-swagger-1-2-name: Docele
    HttpResult_List_Map_string_object_43a756:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/Map_string_object_e0fd20'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«List«Map«string,object»»»
    DiyAppliedSchoolVO:
      type: object
      properties:
        id:
          type: integer
          format: int32
        uid:
          type: integer
          format: int32
        schoolId:
          type: integer
          format: int32
        schoolName:
          type: string
        majorId:
          type: integer
          format: int32
        majorName:
          type: string
        haveOffer:
          type: integer
          format: int32
        academic:
          type: string
        language:
          type: string
      x-swagger-1-2-name: DiyAppliedSchoolVO
    HttpResult_List_Docele_6e8881:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/Docele'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«List«Docele»»
    SchoolBasic:
      type: object
      properties:
        id:
          type: integer
          format: int32
        cname:
          type: string
        ename:
          type: string
        logo:
          type: string
        url:
          type: string
        tel:
          type: string
        address:
          type: string
        longitude:
          type: string
        latitude:
          type: string
        zip:
          type: string
        areaId:
          type: integer
          format: int32
        cityId:
          type: integer
          format: int32
        countryId:
          type: integer
          format: int32
        area:
          $ref: '#/components/schemas/Area'
        city:
          $ref: '#/components/schemas/CMSCity'
        country:
          $ref: '#/components/schemas/Country'
        modified:
          type: string
          format: date-time
        buildTime:
          type: string
        eduLevel:
          type: integer
          format: int32
        type:
          type: integer
          format: int32
        urlkey:
          type: string
        logo2:
          type: string
        status:
          type: integer
          format: int32
        courseType:
          type: string
        schoolType:
          type: string
        logo3:
          type: string
        automaticApply:
          type: integer
          format: int32
        schoolRent:
          type: string
        houseRent:
          type: string
        fax:
          type: string
        weibo:
          type: string
        email:
          type: string
        wechat:
          type: string
        recommendType:
          type: string
        rankList:
          type: array
          items:
            $ref: '#/components/schemas/SchoolRank'
        logoCover:
          type: string
        openTime:
          type: string
          format: date-time
      x-swagger-1-2-name: SchoolBasic
    HttpResult_int_f2bae6:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: integer
          format: int32
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«int»
    HttpResult_Map_string_object_5812ac:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: object
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«Map«string,object»»
    Map_string_object_e0fd20:
      type: object
      description: Model referenced by the 51offer Swagger 1.2 documents at https://www.51offer.com/api-docs but never defined in them; no properties are asserted here because the provider does not publish any.
      x-undefined-in-source: true
    HttpResult_List_MajorDirection_55f171:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/MajorDirection'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«List«MajorDirection»»
    MajorCategory:
      type: object
      properties:
        id:
          type: integer
          format: int32
        countryId:
          type: integer
          format: int32
        schoolId:
          type: integer
          format: int32
        gradeId:
          type: integer
          format: int32
        cname:
          type: string
        ename:
          type: string
        keyword:
          type: string
      x-swagger-1-2-name: MajorCategory
  securitySchemes:
    tokenHeader:
      type: apiKey
      in: header
      name: token
      description: 'Session token header. Observed on live responses from https://www.51offer.com: Access-Control-Allow-Headers includes "token" and Access-Control-Expose-Headers is "token". Unauthenticated calls to public endpoints (e.g. GET /ngGpaCalc/constants) return 200; authenticated user endpoints return the envelope with a non-200 code field. 51offer publishes no developer auth documentation.'
