openapi: 3.2.0
info:
  title: 51offer Horizon Site Ng Gpa Calc API
  version: '1.0'
  summary: 51offer official-site (www.51offer.com) JSON API surface
  description: Machine-readable description of the public JSON API surface of 51offer's official study-abroad site (www.51offer.com).
  contact:
    name: 51offer
    email: woodrow.w@51offer.com
    url: https://www.51offer.com/
  x-provenance:
    converted-from: Swagger 1.2
    source: https://www.51offer.com/api-docs
    fetched: '2026-09-05'
servers:
- url: https://www.51offer.com
  description: '51offer official site API host. Verified live 2026-09-05: GET /ngGpaCalc/constants returned HTTP 200 application/json.'
- url: https://m.51offer.com
  description: 51offer mobile-site host. Serves the same Swagger 1.2 documents at /api-docs (HTTP 200, application/json, 2026-09-05).
tags:
- name: ngGpaCalc
  description: GPA计算器
paths:
  /ngGpaCalc/constants:
    get:
      operationId: queryRefundConstants
      tags:
      - ngGpaCalc
      summary: GPA计算器字典
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/nggpacalc
  /ngGpaCalc/gpabai:
    post:
      operationId: queryGpaBai
      tags:
      - ngGpaCalc
      summary: 百分制-GPA成绩计算
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GpaCalc'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/nggpacalc
  /ngGpaCalc/gpalevel:
    post:
      operationId: queryGpaLevel
      tags:
      - ngGpaCalc
      summary: 等级制-GPA成绩计算
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GpaCalc'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/nggpacalc
  /ngGpaCalc/gpawu:
    post:
      operationId: queryGpaWu
      tags:
      - ngGpaCalc
      summary: 五分制-GPA成绩计算
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GpaCalc'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_object_5812ac'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/nggpacalc
components:
  schemas:
    HttpResult_Map_string_object_5812ac:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: object
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«Map«string,object»»
    Page:
      type: object
      properties:
        currPage:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        count:
          type: integer
          format: int32
        totalPage:
          type: integer
          format: int32
        hasPre:
          type: boolean
        hasNext:
          type: boolean
        pageStr:
          type: string
        startRow:
          type: integer
          format: int32
        endRow:
          type: integer
          format: int32
      x-swagger-1-2-name: Page
    GpaCalc:
      type: object
      properties:
        score:
          type: number
          format: double
        level:
          type: number
          format: double
        scoreStr:
          type: string
      x-swagger-1-2-name: GpaCalc
    ApiInfo:
      type: object
      properties:
        operationTime:
          type: string
        version:
          type: string
        hostName:
          type: string
      x-swagger-1-2-name: ApiInfo
  securitySchemes:
    tokenHeader:
      type: apiKey
      in: header
      name: token
      description: 'Session token header. Observed on live responses from https://www.51offer.com: Access-Control-Allow-Headers includes "token" and Access-Control-Expose-Headers is "token". Unauthenticated calls to public endpoints (e.g. GET /ngGpaCalc/constants) return 200; authenticated user endpoints return the envelope with a non-200 code field. 51offer publishes no developer auth documentation.'
