openapi: 3.2.0
info:
  title: 51offer Horizon Site Ng Pay Coupon API
  version: '1.0'
  summary: 51offer official-site (www.51offer.com) JSON API surface
  description: Machine-readable description of the public JSON API surface of 51offer's official study-abroad site (www.51offer.com).
  contact:
    name: 51offer
    email: woodrow.w@51offer.com
    url: https://www.51offer.com/
  x-provenance:
    converted-from: Swagger 1.2
    source: https://www.51offer.com/api-docs
    fetched: '2026-09-05'
servers:
- url: https://www.51offer.com
  description: '51offer official site API host. Verified live 2026-09-05: GET /ngGpaCalc/constants returned HTTP 200 application/json.'
- url: https://m.51offer.com
  description: 51offer mobile-site host. Serves the same Swagger 1.2 documents at /api-docs (HTTP 200, application/json, 2026-09-05).
tags:
- name: ngPayCoupon
  description: 51品牌节支付优惠券
paths:
  /ngPayCoupon/createOrderCouponByBrand:
    get:
      operationId: createOrderCouponByBrand
      tags:
      - ngPayCoupon
      summary: 品牌节支付小程序下单
      parameters:
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannel
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: goodsId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: skuId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_string_5634e8'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngpaycoupon
  /ngPayCoupon/queryBlindBoxAwards:
    get:
      operationId: queryBlindBoxAwards
      tags:
      - ngPayCoupon
      summary: 是否中盲盒大礼包
      parameters:
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannel
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_int_ca4887'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngpaycoupon
  /ngPayCoupon/queryOrderCouponByBrand:
    get:
      operationId: queryOrderCouponByBrand
      tags:
      - ngPayCoupon
      summary: 获取优惠券商品是否可以支付
      parameters:
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannel
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: goodsId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: skuId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_string_string_5634e8'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngpaycoupon
components:
  schemas:
    HttpResult_Map_string_string_5634e8:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: object
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«Map«string,string»»
    Page:
      type: object
      properties:
        currPage:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        count:
          type: integer
          format: int32
        totalPage:
          type: integer
          format: int32
        hasPre:
          type: boolean
        hasNext:
          type: boolean
        pageStr:
          type: string
        startRow:
          type: integer
          format: int32
        endRow:
          type: integer
          format: int32
      x-swagger-1-2-name: Page
    Entry_string_int_3e25de:
      type: object
      properties:
        key:
          type: integer
          format: int32
      x-swagger-1-2-name: Entry«string,int»
    ApiInfo:
      type: object
      properties:
        operationTime:
          type: string
        version:
          type: string
        hostName:
          type: string
      x-swagger-1-2-name: ApiInfo
    HttpResult_Map_string_int_ca4887:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/Entry_string_int_3e25de'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«Map«string,int»»
  securitySchemes:
    tokenHeader:
      type: apiKey
      in: header
      name: token
      description: 'Session token header. Observed on live responses from https://www.51offer.com: Access-Control-Allow-Headers includes "token" and Access-Control-Expose-Headers is "token". Unauthenticated calls to public endpoints (e.g. GET /ngGpaCalc/constants) return 200; authenticated user endpoints return the envelope with a non-200 code field. 51offer publishes no developer auth documentation.'
