openapi: 3.2.0
info:
  title: 51offer Horizon Site Ngdiysinglepage API
  version: '1.0'
  summary: 51offer official-site (www.51offer.com) JSON API surface
  description: Machine-readable description of the public JSON API surface of 51offer's official study-abroad site (www.51offer.com).
  contact:
    name: 51offer
    email: woodrow.w@51offer.com
    url: https://www.51offer.com/
  x-provenance:
    converted-from: Swagger 1.2
    source: https://www.51offer.com/api-docs
    fetched: '2026-09-05'
servers:
- url: https://www.51offer.com
  description: '51offer official site API host. Verified live 2026-09-05: GET /ngGpaCalc/constants returned HTTP 200 application/json.'
- url: https://m.51offer.com
  description: 51offer mobile-site host. Serves the same Swagger 1.2 documents at /api-docs (HTTP 200, application/json, 2026-09-05).
tags:
- name: ngdiysinglepage
  description: diy单品页控制器
paths:
  /ngdiysinglepage/checkUserHasDIY:
    get:
      operationId: checkUserHasDIY
      tags:
      - ngdiysinglepage
      summary: 检查用户是否有DIY并且有已支付
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiysinglepage
  /ngdiysinglepage/checkUserHasDIY2:
    get:
      operationId: checkUserHasDIY2
      tags:
      - ngdiysinglepage
      summary: 检查用户是否有DIY并且有已支付(给小程序使用)
      parameters:
      - name: session
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiysinglepage
  /ngdiysinglepage/getDiySchoolList:
    get:
      operationId: getDiySchoolList
      tags:
      - ngdiysinglepage
      summary: offer榜单
      parameters:
      - name: beginTime
        in: query
        required: true
        schema:
          type: string
      - name: endTime
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiysinglepage
components:
  securitySchemes:
    tokenHeader:
      type: apiKey
      in: header
      name: token
      description: 'Session token header. Observed on live responses from https://www.51offer.com: Access-Control-Allow-Headers includes "token" and Access-Control-Expose-Headers is "token". Unauthenticated calls to public endpoints (e.g. GET /ngGpaCalc/constants) return 200; authenticated user endpoints return the envelope with a non-200 code field. 51offer publishes no developer auth documentation.'
