openapi: 3.2.0
info:
  title: 51offer Horizon Site Ng Diy API
  version: '1.0'
  summary: 51offer official-site (www.51offer.com) JSON API surface
  description: Machine-readable description of the public JSON API surface of 51offer's official study-abroad site (www.51offer.com).
  contact:
    name: 51offer
    email: woodrow.w@51offer.com
    url: https://www.51offer.com/
  x-provenance:
    converted-from: Swagger 1.2
    source: https://www.51offer.com/api-docs
    fetched: '2026-09-05'
servers:
- url: https://www.51offer.com
  description: '51offer official site API host. Verified live 2026-09-05: GET /ngGpaCalc/constants returned HTTP 200 application/json.'
- url: https://m.51offer.com
  description: 51offer mobile-site host. Serves the same Swagger 1.2 documents at /api-docs (HTTP 200, application/json, 2026-09-05).
tags:
- name: ngDiy
  description: Diy服务控制层
paths:
  /ngDiy/checkDiyOrderInfo:
    get:
      operationId: getUserCheckOrderInfo
      tags:
      - ngDiy
      summary: 获取用户确认订单信息
      parameters:
      - name: goodsId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: skuId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: couponNo
        in: query
        required: false
        schema:
          type: string
      - name: cancelCoupon
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannel
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_VO_-_3affa5'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiy
  /ngDiy/checkEmail:
    get:
      operationId: checkEmail
      tags:
      - ngDiy
      summary: 邮箱号是否存在
      parameters:
      - name: email
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiy
  /ngDiy/getEmailPostfix:
    get:
      operationId: getEmailPostfix
      tags:
      - ngDiy
      summary: 获取邮箱后缀
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_string_3275da'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiy
  /ngDiy/getMailDetail:
    get:
      operationId: getMailDetail
      tags:
      - ngDiy
      summary: 获取收件信详情
      parameters:
      - name: mailId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_d4e4aa'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiy
  /ngDiy/getUserMailList:
    get:
      operationId: getUserMailList
      tags:
      - ngDiy
      summary: 获取所有的收件信信息
      parameters:
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannel
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_List_47fc17'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiy
  /ngDiy/queryGoodsInfo:
    get:
      operationId: queryGoodsInfo
      tags:
      - ngDiy
      summary: 获取商品信息
      parameters:
      - name: skuId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Sku_a71c3a'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiy
  /ngDiy/queryUserEmailInfo:
    get:
      operationId: queryUserEmailInfo
      tags:
      - ngDiy
      summary: 获取用户邮箱信息
      parameters:
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannel
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_MaterialOtherVO_6ed5d6'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiy
  /ngDiy/saveApplyEmail:
    get:
      operationId: saveApplyEmail
      tags:
      - ngDiy
      summary: 申请开通邮箱号
      parameters:
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannel
        in: query
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaterialOther'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_string_3275da'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiy
  /ngDiy/update2Read:
    get:
      operationId: update2Read
      tags:
      - ngDiy
      summary: 设置邮件为已读状态
      parameters:
      - name: mailId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_boolean_f50dfc'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiy
  /ngDiy/wechat_createOrder:
    get:
      operationId: createOrderByWx
      tags:
      - ngDiy
      summary: 微信小程序下单
      parameters:
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: goodsId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: skuId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: thirdChannel
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: couponNo
        in: query
        required: true
        schema:
          type: string
      - name: psuid
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_Map_5d5fab'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiy
  /ngDiy/wechat_userOrder:
    get:
      operationId: queryUserOrder
      tags:
      - ngDiy
      summary: 获取用户订单
      parameters:
      - name: session
        in: query
        required: true
        schema:
          type: string
      - name: thirdChannel
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: type
        in: query
        required: true
        schema:
          type: string
      - name: goodsId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResult_VO_-_d79457'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      x-swagger-1-2-source: https://www.51offer.com/api-docs/default/ngdiy
components:
  schemas:
    Schema_2ea806:
      type: object
      properties:
        email_id:
          type: integer
          format: int32
          description: 邮件id
        title:
          type: string
          description: 邮件标题
        time:
          type: string
          format: date-time
          description: 接收邮件时间
        iso_time:
          type: string
          description: 接收邮件时间 iso
        attachment:
          type: integer
          format: int32
          description: 附件数量
        from:
          $ref: '#/components/schemas/Schema_92c8b6'
          description: 发件人
        to:
          type: array
          items:
            $ref: '#/components/schemas/Schema_92c8b6'
          description: 收件人
        is_read:
          type: boolean
          description: 是否读取,true 读过， false 未读
        tags:
          type: string
          description: 邮件标签
        mid:
          type: string
          description: 根据mid 获取邮件详情
      x-swagger-1-2-name: 邮件列表实体
    VO_-_183f88:
      type: object
      properties:
        id:
          type: integer
          format: int32
        orderCode:
          type: string
          description: 支付单编号（主单编号）
        orderType:
          type: integer
          format: int32
          description: 订单类型（各业务线标识） 1=联合 2=留学 3=语培 4=文书 5=签证
        unionCode:
          type: string
          description: 联合订单编号(只有联合订单的子单，此属性才会有值)
        uid:
          type: integer
          format: int32
          description: 订单用户ID
        originalPrice:
          type: integer
          format: int32
          description: (商品/sku)原价,单位=分
        costPrice:
          type: integer
          format: int32
          description: (商品/sku)成本价,单位=分
        realPrice:
          type: integer
          format: int32
          description: (商品/sku)实际售价,单位=分
        orderAmount:
          type: integer
          format: int32
          description: (订单)应收金额,单位=分,(应收金额=实际售价-优惠金额-优惠券金额)
        discountAmount:
          type: integer
          format: int32
          description: 优惠金额（单位：分）,(后台下单，顾问手动填写的优惠额)
        payPrice:
          type: integer
          format: int32
          description: (订单)实收金额,单位=分,(用户实际支付的金额,如果产生1单多笔支付,则会统计此单的所有出/入帐总和)
        payTime:
          type: string
          format: date-time
          description: 订单支付时间
        orderStatus:
          type: integer
          format: int32
          description: 订单状态0=待支付 可跳转- 部分支付、支付完成、取消订单；1=部分支付 可跳转- 支付完成、取消订单、退款中；2=支付完成 可跳转- 取消订单、已升级、已转移、退款中；3=订单取消 无跳转；4=已升级 无跳转；5=已转移 无跳转；6=退款中 可跳转- 退款完成；7=退款完成 无跳转
        refundPrice:
          type: integer
          format: int32
          description: 退款金额，单位=分,(如有多笔出帐，会记录其总和)
        refundTime:
          type: string
          format: date-time
          description: 退款时间(退款时间，由财务录入)
        goodsId:
          type: integer
          format: int32
          description: 商品ID
        goodsName:
          type: string
          description: 商品名称
        sku:
          type: integer
          format: int32
          description: SKU id
        skuType:
          type: integer
          format: int32
          description: 商品类型（SKU里面字段）
        orderRemark:
          type: string
          description: 订单备注
        couponNo:
          type: string
          description: 优惠券号
        couponPrice:
          type: integer
          format: int32
          description: 优惠券金额，单位=分
        refrenceUid:
          type: integer
          format: int32
          description: 订单推荐人(暂未启用字段)
        orderBelongId:
          type: integer
          format: int32
          description: (成单人)订单所属ID,顾问ID或部门ID，此字段值要结合orderBelongType一起来使用
        orderBelongType:
          type: integer
          format: int32
          description: (成单人类型)订单所属类型, 1顾问 2部门
        hasOpenService:
          type: integer
          format: int32
          description: 是否已开启服务,0未开启 1已开启
        openServiceTime:
          type: string
          format: date-time
          description: 开启服务时间
        serviceOrderCode:
          type: string
          description: 业务单编号
        orderCreator:
          type: integer
          format: int32
        orderCreated:
          type: string
          format: date-time
        orderModifier:
          type: integer
          format: int32
        orderModified:
          type: string
          format: date-time
        invoiceNumber:
          type: string
          description: 发票号
        isCost:
          type: integer
          format: int32
        skuName:
          type: string
          description: sku名称
        service53Code:
          type: string
          description: 53客服编码
        goodsPriceYuan:
          type: integer
          format: int64
          description: 商品实际售价 元
        receivableAmountYuan:
          type: integer
          format: int64
          description: 应收金额 元
        paidAmountYuan:
          type: integer
          format: int64
          description: 实收金额 元
        remainderAmountYuan:
          type: integer
          format: int64
          description: 剩余支付金额 元
        couponAmountYuan:
          type: integer
          format: int64
          description: 优惠券金额 元
        refundAmountYuan:
          type: integer
          format: int64
          description: 退款金额 元
        servicePageUrlPc:
          type: string
          description: 服务单PC落地页URL
        servicePageUrlH5:
          type: string
          description: 服务单H5落地页URL
        orderTypeName:
          type: string
          description: 订单类型名称
        orderStatusName:
          type: string
          description: 订单状态名称
        skuAttrs:
          type: array
          items:
            $ref: '#/components/schemas/SkuAttr'
          description: sku属性列表
        unionOrderList:
          type: array
          items:
            $ref: '#/components/schemas/VO_-_183f88'
          description: 联合订单子订单列表
        isRefund:
          type: boolean
          description: 是否有退款记录
        discountAmountYuan:
          type: integer
          format: int64
          description: 优惠金额（单位：元）,(后台下单，顾问手动填写的优惠额)
        orderCreatorRole:
          type: integer
          format: int32
          description: 角色
        whetherContract:
          type: boolean
          description: 是否存在在线合同
      x-swagger-1-2-name: 订单信息VO - 前台
    SkuAttr:
      type: object
      properties:
        skuId:
          type: integer
          format: int32
        attrId:
          type: integer
          format: int32
        attrVal:
          type: string
        pid:
          type: integer
          format: int32
        parentVal:
          type: string
        created:
          type: string
          format: date-time
        creator:
          type: integer
          format: int32
        modified:
          type: string
          format: date-time
        modifier:
          type: integer
          format: int32
        children:
          type: array
          items:
            $ref: '#/components/schemas/SkuAttr'
      x-swagger-1-2-name: SkuAttr
    HttpResult_VO_-_d79457:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          $ref: '#/components/schemas/VO_-_183f88'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«订单信息VO - 前台»
    HttpResult_boolean_f50dfc:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: boolean
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«boolean»
    Schema_0e135e:
      type: object
      properties:
        name:
          type: string
          description: 附件名称
        size:
          type: string
          description: 附件大小
        type:
          type: string
          description: 附件类型
        file_url:
          type: string
          description: 附件地址
      x-swagger-1-2-name: 邮件附件实体
    HttpResult_MaterialOtherVO_6ed5d6:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          $ref: '#/components/schemas/MaterialOtherVO'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«MaterialOtherVO»
    Sku:
      type: object
      properties:
        skuId:
          type: integer
          format: int32
        category:
          type: integer
          format: int32
        categoryName:
          type: string
        skuName:
          type: string
        actived:
          type: boolean
        picUrl:
          type: string
        priceFen:
          type: integer
          format: int32
        originalPriceFen:
          type: integer
          format: int32
        costPriceFen:
          type: integer
          format: int32
        sales:
          type: integer
          format: int32
        attrs:
          type: array
          items:
            $ref: '#/components/schemas/SkuAttr'
        attrsLevel:
          type: array
          items:
            $ref: '#/components/schemas/SkuAttr'
        parentType:
          type: integer
          format: int32
        type:
          type: integer
          format: int32
        created:
          type: string
          format: date-time
        creator:
          type: integer
          format: int32
        modified:
          type: string
          format: date-time
        modifier:
          type: integer
          format: int32
        costFen:
          type: integer
          format: int32
        iuid:
          type: string
        priceYuan:
          type: string
        originalPriceYuan:
          type: string
        costPriceYuan:
          type: string
      x-swagger-1-2-name: Sku
    HttpResult_Map_5d5fab:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: object
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«Map»
    MaterialOther:
      type: object
      description: Model referenced by the 51offer Swagger 1.2 documents at https://www.51offer.com/api-docs but never defined in them; no properties are asserted here because the provider does not publish any.
      x-undefined-in-source: true
    HttpResult_d4e4aa:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          $ref: '#/components/schemas/Schema_e23c20'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«邮件详情实体»
    Page:
      type: object
      properties:
        currPage:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        count:
          type: integer
          format: int32
        totalPage:
          type: integer
          format: int32
        hasPre:
          type: boolean
        hasNext:
          type: boolean
        pageStr:
          type: string
        startRow:
          type: integer
          format: int32
        endRow:
          type: integer
          format: int32
      x-swagger-1-2-name: Page
    ApiInfo:
      type: object
      properties:
        operationTime:
          type: string
        version:
          type: string
        hostName:
          type: string
      x-swagger-1-2-name: ApiInfo
    Schema_e23c20:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/Schema_92c8b6'
          description: 发件人
        to:
          type: array
          items:
            $ref: '#/components/schemas/Schema_92c8b6'
          description: 收件人
        cc:
          type: array
          items:
            $ref: '#/components/schemas/Schema_92c8b6'
          description: 抄送
        bcc:
          type: array
          items:
            $ref: '#/components/schemas/Schema_92c8b6'
          description: 暗送
        title:
          type: string
          description: 邮件标题
        is_read:
          type: boolean
          description: 是否读取,true 读过， false 未读
        html_content:
          type: string
          description: 邮件正文
        files:
          type: array
          items:
            $ref: '#/components/schemas/Schema_0e135e'
          description: 附件列表
        time:
          type: string
          format: date-time
          description: 接收邮件时间
        iso_time:
          type: string
          description: 接收邮件时间 ISO
      x-swagger-1-2-name: 邮件详情实体
    Schema_92c8b6:
      type: object
      properties:
        key:
          type: string
          description: 键
        name:
          type: string
          description: 名称
      x-swagger-1-2-name: 邮件基本信息实体
    MaterialOtherVO:
      type: object
      properties:
        applyEmail:
          type: string
        applyPassword:
          type: string
        userStatus:
          type: integer
          format: int32
      x-swagger-1-2-name: MaterialOtherVO
    UserCouponVo:
      type: object
      properties:
        code:
          type: string
        poolCode:
          type: string
        poolName:
          type: string
        receiver:
          type: integer
          format: int32
        receiveTime:
          type: string
          format: date-time
        useTime:
          type: string
          format: date-time
        channel:
          type: string
        payCode:
          type: string
        couponStatus:
          type: integer
          format: int32
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        poolStatusUse:
          type: integer
          format: int32
        poolStatusProvide:
          type: integer
          format: int32
        type:
          type: integer
          format: int32
        val:
          type: integer
          format: int32
        description:
          type: string
        effectiveType:
          type: integer
          format: int32
        effectiveTime:
          type: integer
          format: int32
      x-swagger-1-2-name: UserCouponVo
    HttpResult_string_3275da:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: string
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«string»
    HttpResult_VO_-_3affa5:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          $ref: '#/components/schemas/VO_-_a75db4'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«确认订单信息VO - 前台»
    VO_-_a75db4:
      type: object
      properties:
        goodsId:
          type: integer
          format: int32
          description: 商品ID
        goodsName:
          type: string
          description: 商品名称
        goodsPriceYuan:
          type: integer
          format: int64
          description: 商品价格 元
        united:
          type: boolean
          description: 是否是联合商品 1=是 0=否
        sku:
          type: integer
          format: int32
          description: SKU id
        skuName:
          type: string
          description: sku名称
        skuAttrs:
          type: array
          items:
            $ref: '#/components/schemas/SkuAttr'
          description: sku属性列表
        couponList:
          type: array
          items:
            $ref: '#/components/schemas/UserCouponVo'
          description: 优惠券列表
        activCoupon:
          type: string
          description: 当前选中的优惠券号
        payAmount:
          type: integer
          format: int64
          description: 应付金额 元
      x-swagger-1-2-name: 确认订单信息VO - 前台
    HttpResult_Sku_a71c3a:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          $ref: '#/components/schemas/Sku'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«Sku»
    HttpResult_List_47fc17:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/Schema_2ea806'
        header:
          type: string
        page:
          $ref: '#/components/schemas/Page'
        apiInfo:
          $ref: '#/components/schemas/ApiInfo'
      x-swagger-1-2-name: HttpResult«List«邮件列表实体»»
  securitySchemes:
    tokenHeader:
      type: apiKey
      in: header
      name: token
      description: 'Session token header. Observed on live responses from https://www.51offer.com: Access-Control-Allow-Headers includes "token" and Access-Control-Expose-Headers is "token". Unauthenticated calls to public endpoints (e.g. GET /ngGpaCalc/constants) return 200; authenticated user endpoints return the envelope with a non-200 code field. 51offer publishes no developer auth documentation.'
